{% extends "base--no-phase-banner.html" %}

{% block head %}
  {% assets "css_notes" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock %}

{% block proposition_header %}
<div class="header-proposition">
  <div class="content">
    <nav id="proposition-menu" class="header_menu">
      <span class="header_menu_proposition-name">Civil Service Digital</span>
      <ul id="proposition-links" class="header_menu_proposition-links">
        <li><a href="{{ url_for('notesapp.view6') }}">Notes</a></li>
        <li><a href="{{ url_for('notesapp.settings2') }}">Settings</a></li>
        <li><a href="{{ logout_url }}">Sign out</a></li>
      </ul>
    </nav>
  </div>
</div>
{% endblock %}

{% block top_banner %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1>Your details</h1>
    </div>
  </div>
{% endblock %}

{% block body_content %}

  {% include "notesapp/banner/_settings-content.html" %}

{% endblock %}
