{% extends "base--no-phase-banner.html" %}

{% block head %}
  {% assets "css_notes" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock %}

{% block top_banner %}
  {% include "notesapp/common/_banner-with-search.html" %}
{% endblock %}

{% block body_content %}

  <!--{% include "_logout.html" %}

  <a href="{{url_for('notesapp.view4')}}" class="link-back">back to notes</a>-->

  <h1 class="heading-xlarge">Your details</h1>

  {% include "notesapp/banner/_settings-content.html" %}

{% endblock %}
