{% extends "base.html" %}

{% block endhead %}
    <link rel="stylesheet" href="/static/stylesheets/selectize.css">
{% endblock %}

{% block body_content %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <div id="global-breadcrumb" class="header-context">
        <ol role="breadcrumbs" class="group">
          <li><a href="/">Home</a></li>
          {% if filtered %}
            <li><a href="{{url_for('mylog.view_mylog')}}">My Log</a></li>
            <li style="font-weight: bold">Filtered by tag: {{request.args.get('tag')}}</a></li>
          {% else %}
            <li>My Log</li>
          {% endif %}
        </ol>
      </div>
      </div>
      <div class="column-third">
        {% include "_logout.html" %}
      </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">My log</h1>
      <p>Store information about things you've done and evidence of your performance here to use later.</p>
    </div>
  </div>

  <div class="grid-row section">
    <div class="column-third">
      <p>
        <a href="{{url_for('mylog.add_log_entry')}}" class="button">Add log entry</a>
      </p>
      <p>Or you can email an log entry to: {{current_user.inbox_email}}</p>
    </div>
  </div>

  <div class="grid-row section">
    <div class="column-third">
      <label class="form-label" for="search-log">Search my log</label>
      <input class="form-control" id="search-log" type="text">
    </div>
  </div>

  <div class="section">
    <table class="log-table">
      <thead>
        <tr><th>Date</th><th>Content</th><th>Tags</th></tr>
      </thead>
      <tbody>
        {% for entry in log_entries %}
          <tr>
            <td>{{entry.created_date|format_date}}</td>
            <td>
              <!-- quick hack for things tagged feedback -->
              {% if entry.has_tag('Feedback') %}
                <a href="{{entry.content}}">View feedback</a>
              {% else %}
                <a href="{{url_for('mylog.view_log_entry', id=entry.id)}}">{{entry.content|truncate(80)}}</a>
              {% endif %}
            </td>
            <td>
              <input type="text" value="{% for tag in entry.tags %}{{tag.name}},{% endfor %}" class="demo-default selectized input-tags"data-entry-id="{{entry.id}}">
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}

{% block body_end %}
  <script type="text/javascript" src="/static/javascripts/vendor/selectize.min.js">
  </script>
  <script type="text/javascript" src="/static/javascripts/tags.js"></script>
{% endblock %}
