{% extends "base.html" %}
{% block body_content %}

  {% include "_logout.html" %}

  <a href="{{url_for('notesapp.view4')}}" class="link-back">back to notes</a>

  <header class="user-details">
    <h1 class="heading-large">
      <span class="heading-secondary">Signed in as:</span>
      {{current_user.full_name}}
    </h1>
    {% if current_user.other_email %}
      <h2 class="heading-small">Emails:</h2>
      <ul class="user-email">
        <li class="bold-small">{{current_user.email}}</li>
        {% for email in current_user.other_email %}
          <li>{{email}} <a href="{{url_for('profile.remove_email', email=email)}}" class="remove-email">Remove</a></li>
        {% endfor %}
      </ul>
    {% else %}
      <p>Email: {{current_user.email}}</p>
    {% endif %}
    <p><a href="{{url_for('profile.add_email')}}">Add another email</a></p>
    <!-- Colm what is the disclosure-triangle class? -->
    <details>
      <summary class="font-xsmall">Why do I need another email address?</summary>
      <p class="font-xsmall text">If you go on maternity leave, switch departments or go on a career break, your previous information can stay with you. You can have limited access to some services from a personal email address, even if your work address is shut down.</p>
    </details>
  </header>

  <div class="summary-section summary-section__editable">
    <h2 class="heading-medium summary-section-heading">Note settings</h2>
    <p class="text">You can send in notes to this email address:
      <span class="bold-small">{{current_user.inbox_email}}</span>
    </p>
  </div>

  <div class="summary-section summary-section__editable">
    <h2 class="heading-medium summary-section-heading">Export your notes</h2>
    <a href="">Export</a>
  </div>

  <div class="summary-section summary-section__editable">
    <h2 class="heading-medium summary-section-heading">Delete your account</h2>
    <a href="">Delete</a>
  </div>


{% endblock %}
