{% extends "base.html" %}

{% block head %}
  {% assets "css_notes" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock %}


{%block body_content %}

{% include "_logout.html" %}

<div class="grid-row">
  <div class="column-third">
    <div class="browse-pane">
      <ul class="browse-pane__content">
      {% for note in notes %}

        <li class="note">
          <h3 class="heading-small note-title">{{ note.title }}</h3>
          <span class="note-date">{{ note.date }}</span>
          <section class="text rendered-markdown">
            {{ note.content|truncate(100) }}
          </section>
        </li>

      {% endfor %}
      </ul>
    </div>
  </div>
  <div class="column-two-thirds"></div>
</div>



{% endblock %}