{% macro render_field(field) %}
    <div class="form-group">
        {{ field.label(class_="form-label") }}
        {% if not kwargs['class_'] %}
          {{ field(class_="form-control", **kwargs)|safe }}
        {% else %}
          {{ field(**kwargs)|safe }}
        {% endif %}
        {% if field.errors %}
            {% for error in field.errors %}
                <span class="error">{{error}}</span>
            {% endfor %}
        {% endif %}
    </div>
{% endmacro %}

{# 
  additional macro because I wasn't sure what the best approach for this is 
#}
{% macro render_field_inset_help(field, help_label, help_info) %}
    <div class="form-group">
        {{ field.label(class_="form-label") }}
        <span class="form-hint text">{{ help_label }}</span>
        {% if not kwargs['class_'] %}
          {{ field(class_="form-control", **kwargs)|safe }}
        {% else %}
          {{ field(**kwargs)|safe }}
        {% endif %}
        {% if field.errors %}
            {% for error in field.errors %}
                <span class="error">{{error}}</span>
            {% endfor %}
        {% endif %}
    </div>
{% endmacro %}


{% macro render_hidden(form) %}
    {{ form.hidden_tag() }}
{% endmacro %}
