{% macro render_field(field) %}
    <div class="form-group">
        {{ field.label(class_="form-label") }}
        {% if not kwargs['class_'] %}
          {{ field(class_="form-control", **kwargs)|safe }}
        {% else %}
          {{ field(**kwargs)|safe }}
        {% endif %}
        {% if field.errors %}
            {% for error in field.errors %}
                <span class="error">{{error}}</span>
            {% endfor %}
        {% endif %}
    </div>
{% endmacro %}


{% macro render_hidden(form) %}
    {{ form.hidden_tag() }}
{% endmacro %}


{% macro linked_with(links) %}
<section>
  <h3 class="heading-small">Linked with:</h3>
  <ul class="linked-list">
    {% for link in links %}
    <li class="linked-item">
      {%- if link.__class__.__name__ == 'Competency' -%}
        Competency: <a href="/">{{ link.name }}</a>

      {%- elif link.entry_type == 'objective' -%}
        Objective: <a href="/">{{ link.entry.what }}</a>

      {%- elif link.entry_type == 'feedback' -%}
        Feedback: <a href="/">{{ link.entry.details }}</a>

      {%- elif link.entry_type == 'log' -%}
        Note: <a href="/">{{ link.entry.content }}</a>

      {%- endif -%}

      <span class="remove-link"><a href="#remove-link?link={{ link.id }}">remove</a></span>
    </li>
    {% endfor %}
  </ul>
</section>
{% endmacro %}
