{% extends "base.html" %}

{% block body_content %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <div id="global-breadcrumb" class="header-context">
        <ol role="breadcrumbs" class="group">
          <li><a href="/profile">Profile</a></li>
          <li><a href="/performance-review">Performance review</a></li>
          <li>Request feedback</li>
        </ol>
      </div>
      </div>
      <div class="column-third">
        {% include "_logout.html" %}
      </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <heading>
        <h1 class="heading-large">Request feedback</h1>
        <p>Something something something...</p>
      </heading>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="feedback">
        <h2 class="heading-medium">Template</h2>
        <span class="edit-controls">
          <a href="#">Edit</a>
          <a href="#" style="display:none">Save</a>
        </span>
        <div class="feedback-template">
          <textarea rows="15" style="width:100%" disabled="true">This is the template where you can ask for some feedback and you can edit this if you want to.</textarea>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block body_end %}
  <script type="text/javascript" src="/static/javascripts/vendor/jquery/jquery.min.js">
  </script>
  <script type="text/javascript" src="/static/javascripts/app.js"></script>
{% endblock %}
