{% extends "base.html" %}

{% block endhead %}

 <script id="recipient-template" type="text/x-jsrender">
    {% raw %}
    <li>
      <span class="recipient-email">{{:userEmail}}</span><a href="#">Remove</a>
    </li>
    {% endraw %}
  </script>

{% endblock %}

{% block body_content %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <div id="global-breadcrumb" class="header-context">
        <ol role="breadcrumbs" class="group">
          <li><a href="/profile">Profile</a></li>
          <li><a href="/performance-review">Performance review</a></li>
          <li>Request feedback</li>
        </ol>
      </div>
      </div>
      <div class="column-third">
        {% include "_logout.html" %}
      </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <heading>
        <h1 class="heading-large">Request feedback</h1>
        <p>Something something something...</p>
      </heading>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="feedback">
        <h2 class="heading-medium">Template</h2>
        <span class="edit-controls">
          <a href="#">Edit</a>
          <a href="#" style="display:none">Save</a>
        </span>
        <div class="feedback-template">
          <textarea rows="15" style="width:100%" disabled="true">This is the template where you can ask for some feedback and you can edit this if you want to.</textarea>
        </div>
      </div>
    </div>
  </div>

   <div class="grid-row">
    <div class="column-two-thirds">
      <section class="recipients">
        <h2 class="heading-medium">Who to send it to</h2>
        <form class="search-form">
          <label for="search" class="form-label" >Find email</label>
          <input class="form-control" type="search" name="q" id="search" title="Search">
          <input class="search-button submit" type="submit" value="Search">
        </form>
        <ul id="recipient-list">
          {% for existing_request in current_user.feedback_requests %}
           <li><span class="recipient-email">{{existing_request.recipient_email}}</span><span class="request-status">{{existing_request.status}}</span></li>
          {% endfor %}
        </ul>
      </section>
    </div>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="#" id="submit-request" class="button" style="display:none">Send request</a>
    </div>
  </div>

{% endblock %}

{% block body_end %}
  <script type="text/javascript" src="/static/javascripts/app.js"></script>
{% endblock %}
