
{% extends "base.html" %}
{% block body_content %}

{% from "_macros.html" import render_field, render_hidden %}

  <h1 class="heading-large">Civil Service Digital</h1>
  <p class="lede">All the stuff you do in your job that isn't your actual job.</p>

  <div class="grid-row section">
    <div class="column-two-thirds">
      <div class="text">
        <a href="{{url_for('profile.view_profile')}}">View and edit information about me</a>
      </div>
    </div>
  </div>
  <div class="grid-row">
    <div class="column-half">
      <div class="text">
        <h2 class="heading-small">My log</h2>
        <ul>
          <li><a href="{{url_for('mylog.add_log_entry')}}">Log something</a></li>
          <li><a href="{{url_for('mylog.view_mylog')}}">View my log</a></li>
        </ul>
      </div>
    </div>
    <div class="column-half">
      <div class="text">
        <h2 class="heading-small">Feedback</h2>
        <ul>
          <li><a href="{{url_for('feedback.get_feedback')}}">Request feedback</a></li>
          <li><a href="{{url_for('feedback.requested_feedback')}}">View feedback</a></li>
          <li><a href="{{url_for('feedback.give_feedback')}}">Give feedback</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-half">
      <div class="text">
        <h2 class="heading-small">Objectives</h2>
        <ul>
          <li><a href="{{url_for('objectives.view_objectives')}}">View and edit my objectives</a></li>
        </ul>
      </div>
    </div>
    <div class="column-half">
      <div class="text">
        <h2 class="heading-small">Performance</h2>
      </div>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-half">
      <div class="text">
        <h2 class="heading-small">Development</h2>
        <ul>
          <li><a href="#">View my learning record</a></li>
        </ul>
      </div>
    </div>
  </div>


{% endblock %}
