{% extends "base.html" %}

{% block body_content %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <div id="global-breadcrumb" class="header-context">
        <ol role="breadcrumbs" class="group">
          <li><a href="/profile">Profile</a></li>
          <li>Performance review</li>
        </ol>
      </div>
      </div>
      <div class="column-third">
        {% include "_logout.html" %}
      </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">Performance overview</h1>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <section>
        <h2 class="heading-medium">Objectives</h2>
        {% if not current_user.objectives %}
          <p>No objectives set up yet</p>
        {% endif %}
        <ul>
          {% for objective in current_user.objectives.objectives %}
            <li class="objective">
              <header class="objective-header">{{objective.what}} <span class="toggle"><a href="#">Show</a><a href="#" style="display: none;">Hide</a></span></header>
              <div class="details" style="display: none;">
                <p>{{objective.how}}</p>
                <a href="{{url_for('frontend.feedback')}}">Request feedback</a>
              </div>
            </li>
          {% endfor %}
        </ul>
      </section>
    </div>

   <div class="column-third">
      <section class="status">
        <h2 class="heading-small">Started</h2>
        <p>
          {% if current_user.objectives %}
            {{current_user.objectives.started_on | format_date}}
          {% endif %}
        </p>
        <h2 class="heading-small">Due</h2>
        <p>
          {% if current_user.objectives %}
            {{current_user.objectives.due_by | format_date}}
          {% endif %}
        </p>
        <h2 class="heading-small">Status</h2>
        <p>
          {% if current_user.objectives %}
          {{current_user.objectives.status}}
          {% endif %}
        </p>
      </section>

      <section class="competencies">
        <h2 class="heading-small">Competency framework</h2>
        <p>Check your progress since last year - what new behaviours can you add?</p>
      </section>

      <section class="competencies">
        <h2 class="heading-small">Skills</h2>
        <p>Let us know your current skills - so we can make sure the Civil Service is ready for the next changes in our society or the way we work.</p>
      </section>

      <section class="related">
        <h2 class="heading-small">Useful resources</h2>
        <nav>
          <ul>
            <li><a href="https://civilservicelearning.civilservice.gov.uk/sites/default/files/resources/cscf_fulla4potrait_2013-2017_v2e.pdf">Competency framework</a></li>
            <li><a href="https://civilservicelearning.civilservice.gov.uk/competency-framework/how-use-competency-framework">How to use the competency framework</a></li>
            <li><a href="https://civilservicelearning.civilservice.gov.uk/competency-framework/case-study-1">A case study</a></li>
            <li><a href="https://civilservicelearning.civilservice.gov.uk/learning-opportunities/performance-objectives-and-competency-e-learning">Competency and objective training</a></li>
            <li><a href="https://civilservicelearning.civilservice.gov.uk/sites/default/files/howtosetsmartobjectivescfindicatorstr230513fvissue3.doc">How to set SMART objectives</a></li>
          </ul>
        </nav>
      </section>

    </div>
  </div>


{% endblock %}

{% block body_end %}
  <script type="text/javascript" src="/static/javascripts/vendor/jquery/jquery.min.js">
  </script>
  <script type="text/javascript" src="/static/javascripts/app.js"></script>
{% endblock %}
