{% extends "base.html" %}
{% block body_content %}

  {% include "_logout.html" %}

  <header class="user-details">
    <p>Signed in as:</p>
    <h1 class="heading-large">{{current_user.full_name}}</h1>
    {% if current_user.other_email %}
      <h2 class="heading-small">Emails:</h2>
      <ul class="user-email">
        <li class="bold-small">{{current_user.email}}</li>
        {% for email in current_user.other_email %}
          <li>{{email}} <a href="#" class="remove-email">remove</a></li>
        {% endfor %}
      </ul>
    {% else %}
      <p>Email: {{current_user.email}}</p>
    {% endif %}
    <p><a href="{{url_for('frontend.add_email')}}">Add another email</a></p>
    <!-- Colm what is the disclosure-triangle class? -->
    <details>
      <summary class="font-xsmall">Why do I need another email address?</summary>
      <p class="font-xsmall text">If you go on maternity leave, switch departments or go on a career break, your previous information can stay with you. You can have limited access to some services from a personal email address, even if your work address is terminated.</p>
    </details>
  </header>

  <section class="actions">
    <div class="text">
      <h2 class="heading-medium">1. Tell us about yourself</h2>
      <p>Help us organise this website to best meet your needs.</p>
      <a class="button button-start" href="#" role="button" disabled="disabled">Start now</a>
    </div>

    <div class="text">
      <h2 class="heading-medium">2. Check on your performance review</h2>
      <p>See how you are progressing towards your annual review, organise evidence, and easily request feedback.</p>
      <a class="button button-start" href="{{url_for('frontend.performance_review')}}" role="button">Start now</a>
    </div>

    <div class="text">
      <h2 class="heading-medium">3. Learning</h2>
      <p>Improve your skills, with hundreds of free online courses you can also access at home</p>
      <a class="button button-start" href="#" role="button" disabled="disabled">Start now</a>
    </div>

    <div class="text">
      <h2 class="heading-medium">4. Expenses</h2>
      <p>Easily claim for travel, meals or other expenses.</p>
      <a class="button button-start" href="#" role="button" disabled="disabled">Start now</a>
    </div>

    <div class="text">
      <h2 class="heading-medium">5. Jobs</h2>
      <p>Look for new opportunities that match your skills and capabilities</p>
      <a class="button button-start" href="#" role="button" disabled="disabled">Start now</a>
    </div>

    <div class="text">
      <h2 class="heading-medium">6. Professional Community</h2>
      <p>Find links to communities of people like you across the whole of government</p>
      <a class="button button-start" href="#" role="button" disabled="disabled">Search communities</a>
    </div>

  </section>

{% endblock %}
