<svg class='commercial-cap thisyear' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 400 135'><g fill='#912B88' class='year-set last_year'><circle title='{title}' cx='50' cy='50' r='41.950016943603586' /><text class='value-label' x='50' y='101.95001694360359' style='text-anchor: middle;'>107700</text>
<circle title='{title}' cx='150' cy='50' r='16.269784336399212' /><text class='value-label' x='150' y='76.26978433639921' style='text-anchor: middle;'>16200</text>
<circle title='{title}' cx='250' cy='50' r='8.574929257125442' /><text class='value-label' x='250' y='68.57492925712543' style='text-anchor: middle;'>4500</text>
<circle title='{title}' cx='350' cy='50' r='4.608885989624768' /><text class='value-label' x='350' y='64.60888598962477' style='text-anchor: middle;'>1300</text>
</g><g fill='#005EA5' class='year-set this_year'><circle title='{title}' cx='50' cy='50' r='26.383298341423295' /><text class='value-label' x='50' y='86.3832983414233' style='text-anchor: middle;'>42600</text>
<circle title='{title}' cx='150' cy='50' r='10.384755040678716' /><text class='value-label' x='150' y='70.38475504067871' style='text-anchor: middle;'>6600</text>
<circle title='{title}' cx='250' cy='50' r='5.857791861290061' /><text class='value-label' x='250' y='65.85779186129005' style='text-anchor: middle;'>2100</text>
<circle title='{title}' cx='350' cy='50' r='3.1311214554257476' /><text class='value-label' x='350' y='63.13112145542575' style='text-anchor: middle;'>600</text>
</g><g class='level-labels'>
<text class='level-label' x='50' y='130' style='text-anchor: middle;'>Awareness</text>
<text class='level-label' x='150' y='130' style='text-anchor: middle;'>Working</text>
<text class='level-label' x='250' y='130' style='text-anchor: middle;'>Practitioner</text>
<text class='level-label' x='350' y='130' style='text-anchor: middle;'>Expert</text>
</g></svg>