<svg class="digital-cap thisyear" xmlns='http://www.w3.org/2000/svg' viewbox='0 0 400 135'><g fill='#912B88' class='year-set last_year'><circle title='{title}' cx='50' cy='50' r='50' /><text class='value-label' x='50' y='110' style='text-anchor: middle;'>153000</text>
<circle title='{title}' cx='150' cy='50' r='14.002800840280097' /><text class='value-label' x='150' y='74.0028008402801' style='text-anchor: middle;'>12000</text>
<circle title='{title}' cx='250' cy='50' r='9.30598233339944' /><text class='value-label' x='250' y='69.30598233339944' style='text-anchor: middle;'>5300</text>
<circle title='{title}' cx='350' cy='50' r='5.270462766947299' /><text class='value-label' x='350' y='65.2704627669473' style='text-anchor: middle;'>1700</text>
</g><g fill='#005EA5' class='year-set this_year'><circle title='{title}' cx='50' cy='50' r='29.26105176385151' /><text class='value-label' x='50' y='89.26105176385151' style='text-anchor: middle;'>52400</text>
<circle title='{title}' cx='150' cy='50' r='37.289715416143814' /><text class='value-label' x='150' y='97.28971541614382' style='text-anchor: middle;'>85100</text>
<circle title='{title}' cx='250' cy='50' r='10.846522890932809' /><text class='value-label' x='250' y='70.84652289093282' style='text-anchor: middle;'>7200</text>
<circle title='{title}' cx='350' cy='50' r='5.857791861290061' /><text class='value-label' x='350' y='65.85779186129005' style='text-anchor: middle;'>2100</text>
</g><g class='level-labels'>
<text class='level-label' x='50' y='130' style='text-anchor: middle;'>Awareness</text>
<text class='level-label' x='150' y='130' style='text-anchor: middle;'>Working</text>
<text class='level-label' x='250' y='130' style='text-anchor: middle;'>Practitioner</text>
<text class='level-label' x='350' y='130' style='text-anchor: middle;'>Expert</text>
</g>
</svg>