<svg class='managing-cap thisyear' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 400 135'><g fill='#912B88' class='year-set last_year'><circle title='{title}' cx='50' cy='50' r='29.923650121622984' /><text class='value-label' x='50' y='89.92365012162298' style='text-anchor: middle;'>54800</text>
<circle title='{title}' cx='150' cy='50' r='21.73067468400883' /><text class='value-label' x='150' y='81.73067468400883' style='text-anchor: middle;'>28900</text>
<circle title='{title}' cx='250' cy='50' r='14.002800840280097' /><text class='value-label' x='250' y='74.0028008402801' style='text-anchor: middle;'>12000</text>
<circle title='{title}' cx='350' cy='50' r='6.130391451319013' /><text class='value-label' x='350' y='66.13039145131901' style='text-anchor: middle;'>2300</text>
</g><g fill='#005EA5' class='year-set this_year'><circle title='{title}' cx='50' cy='50' r='29.923650121622984' /><text class='value-label' x='50' y='89.92365012162298' style='text-anchor: middle;'>54800</text>
<circle title='{title}' cx='150' cy='50' r='17.292183431919096' /><text class='value-label' x='150' y='77.2921834319191' style='text-anchor: middle;'>18300</text>
<circle title='{title}' cx='250' cy='50' r='10.618149463970436' /><text class='value-label' x='250' y='70.61814946397044' style='text-anchor: middle;'>6900</text>
<circle title='{title}' cx='350' cy='50' r='5.716619504750295' /><text class='value-label' x='350' y='65.7166195047503' style='text-anchor: middle;'>2000</text>
</g><g class='level-labels'>
<text class='level-label' x='50' y='130' style='text-anchor: middle;'>Awareness</text>
<text class='level-label' x='150' y='130' style='text-anchor: middle;'>Working</text>
<text class='level-label' x='250' y='130' style='text-anchor: middle;'>Practitioner</text>
<text class='level-label' x='350' y='130' style='text-anchor: middle;'>Expert</text>
</g></svg>