<svg class='project-cap thisyear' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 400 135'><g fill='#912B88' class='year-set last_year'><circle title='{title}' cx='50' cy='50' r='19.34381054849193' /><text class='value-label' x='50' y='79.34381054849193' style='text-anchor: middle;'>22900</text>
<circle title='{title}' cx='150' cy='50' r='11.715583722580122' /><text class='value-label' x='150' y='71.71558372258012' style='text-anchor: middle;'>8400</text>
<circle title='{title}' cx='250' cy='50' r='9.128709291752768' /><text class='value-label' x='250' y='69.12870929175277' style='text-anchor: middle;'>5100</text>
<circle title='{title}' cx='350' cy='50' r='4.782867026529595' /><text class='value-label' x='350' y='64.7828670265296' style='text-anchor: middle;'>1400</text>
</g><g fill='#005EA5' class='year-set this_year'><circle title='{title}' cx='50' cy='50' r='19.844164121302832' /><text class='value-label' x='50' y='79.84416412130284' style='text-anchor: middle;'>24100</text>
<circle title='{title}' cx='150' cy='50' r='10.463131662318244' /><text class='value-label' x='150' y='70.46313166231825' style='text-anchor: middle;'>6700</text>
<circle title='{title}' cx='250' cy='50' r='8.382209607764336' /><text class='value-label' x='250' y='68.38220960776434' style='text-anchor: middle;'>4300</text>
<circle title='{title}' cx='350' cy='50' r='4.782867026529595' /><text class='value-label' x='350' y='64.7828670265296' style='text-anchor: middle;'>1400</text>
</g><g class='level-labels'>
<text class='level-label' x='50' y='130' style='text-anchor: middle;'>Awareness</text>
<text class='level-label' x='150' y='130' style='text-anchor: middle;'>Working</text>
<text class='level-label' x='250' y='130' style='text-anchor: middle;'>Practitioner</text>
<text class='level-label' x='350' y='130' style='text-anchor: middle;'>Expert</text>
</g></svg>