<!DOCTYPE html>
<html>
<head>
  <title>This is for people with knowledge, power and skill</title>
</head>
<body>
  <h1>Greetings we have been waiting for you. You are one of the chosen.</h1>

  {% include "_messages.html" %}

  <h2>Create users or add objectives for user (including yourself)</h2>
  <p><a href="{{url_for('hatch.manage_user')}}">Do stuffs for users</a></p>

  <h2>Edit your objectives</h2>
  <p><a href="{{url_for('hatch.your_stuff')}}">Do stuffs for yourself</a></p>
</body>
</html>
