.linking_pane {
  h2 {
    margin-top: 7px;
    margin-bottom: 10px;
  }
}

.linking_container {
  //border-top: 5px solid $link-colour;
  //padding-top: 10px;
  .add-link-btn {
    display: block;

    &.active {
      border-left: 4px solid $link-colour;
      color: $link-colour;
    }
  }
}

.link_section_heading {
  @extend .heading-small;
  margin-top: 0;
  background: $panel-colour;
  font-weight: normal;
  padding: 5px 8px;
}

.linked-item {
  position: relative;
  padding: 8px 0;
  border-bottom: 1px solid $panel-colour;
  & > a {
    padding: 0 10px;
    font-size: 16px;
    font-weight: normal;
    display: inline-block;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .remove-link {
    position: absolute;
    right: 0;
  }

  .linked-item__add-evidence {
    text-decoration: none;
    padding: 0 5px;
    img {
      width: 30px;
      height: 30px;
      vertical-align: middle;
    }
  }

  .content {
    display: none;
    font-size: 16px;
    padding: 10px 10px 0;
  }

  &.expanded {

    & > a {
      font-weight: bold;
    }

    .content {
      display: block;
    }
  }
}

.linked-item:last-of-type {
  border-bottom: none;
}

.add-link-btn,
a.add-link-btn {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 15px;
  border-left: 4px solid $highlight-colour;
  background: $highlight-colour;
  color: $text-colour;
  text-decoration: none;

  &:hover {
    color: $link-hover-colour;
    text-decoration: underline;
  }
}

.add-link-form {
  border-left: 4px solid $link-colour;
  padding-left: 15px;

  .form-group {
    margin: 10px 0;
  }
}

.add-link-btn { 
  display: none; 
  &:focus {
    outline: none;
  }
}

.js-enabled {
  .add-link-form { display: none; }
  .add-link-btn { display: block; }
}

.linking-list_heading {
  background: #dee0e2;
  padding: 5px 8px;
  font-weight: bold;
}

.linking-list-container {
  border: 5px solid #dee0e2;
}

.linking-checkbox {
  display: block;
  padding: 5px 15px 5px 10px;
  cursor: pointer;
  border-bottom: 1px solid #bfc1c3;
}
