.tags-list li {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;

  a {
    display: block;
    text-decoration: none;
    color: $link-colour;
    padding: 5px;

    &:hover {
      text-decoration: underline;
      background: $highlight-colour;
    }
  }

}

.note_header {
  @extend %contain-floats;

  .note_actions {
    float: right;
    line-height: 39px;

    li {
      display: inline-block;
      line-height: 39px;

      a {
        display: block;
        padding: 0 10px;
        background: darken(#fff, 2.5%);
        text-decoration: none;
      }
    }
  }
}