{% extends "base.html" %}
{% block body_content %}

  {% from "_macros.html" import render_field, render_hidden %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <div id="global-breadcrumb" class="header-context">
        <ol role="breadcrumbs" class="group">
          <li><a href="/">Home</a></li>
          <li><a href="{{url_for('feedback.give_feedback')}}">Give feedback</a></li>
          <li>Feedback for {{feedback_request.requested_by.full_name}}</li>
        </ol>
      </div>
    </div>
    <div class="column-third">
      {% include "_logout.html" %}
    </div>
  </div>

  <h1 class="heading-large">Give feedback for {{feedback_request.requested_by.full_name}}</h1>


   <div class="grid-row">
      <div class="column-two-thirds">
        {{feedback_request.feedback_template|markdown}}
      </div>
  </div>


  <form action="{{url}}" method="post" class="form add-feedback">
    <div class="grid-row">
      <div class="column-two-thirds">
        {{ render_field(form.feedback, rows=10) }}
      </div>
      <div class="column-third">
        <h2 class="heading-medium guidance-heading">Guidance on feeback</h2>
        <p>some stuff about what, how, where, why and when</p>
      </div>
    </div>

    {% if not saved %}
      <div class="form-group">
        <button class="button">Save</button>
      </div>
    {% endif %}

  {{ render_hidden(form) }}
  </form>

  <div class="grid-row">
    <div class="column-two-thirds">
      <section class="objectives">
        {% if objectives %}
          <h2 class="heading-medium">Objectives</h2>
           <ul>
            {% for objective in objectives.objectives %}
              <li class="objective">
                <header class="objective-header">{{objective.what}} <span class="toggle"><a href="#">Show</a><a href="#" style="display: none;">Hide</a></span></header>
                <div class="details" style="display: none;">
                  {{objective.how|markdown}}
                </div>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </section>
    </div>
  </div>

{% endblock %}

{% block body_end %}
  <script type="text/javascript" src="/static/javascripts/vendor/jquery/jquery.min.js">
  </script>
  <script type="text/javascript" src="/static/javascripts/app.js"></script>
{% endblock %}
