{% extends "base.html" %}

{% block head %}
{{ super() }}

<!-- internal interface stylesheet -->
{% assets "css_internal_interface" %}
  <link rel="stylesheet" href="{{ ASSET_URL }}">
  <style>
.incremental-search-results {
  position: absolute;
  width: 300px;
  z-index: 9999;
  background: white;
}

.incremental-search-results li {
  display: block;
  border: 1px solid #ccc;
  padding: 5px 3px;
  cursor: pointer;
}

.incremental-search-results li:hover {
  background: #004;
  color: #fff;
}
  </style>
{% endassets %}

{% endblock %}

{% block body_content %}
    <a class="link-back" href="/">back</a>

    <h1 class="heading-large">Your staff</h1>

    <div class="staff_admin">
      <a class="secondary_btn incremental-search"
        data-search-url="{{ url_for('staff.search') }}"
        data-submit-url="{{ url_for('staff.add') }}"
        href="{{ url_for('staff.add') }}">+ add staff</a>
    </div>

    <ul>
      {% for person in current_user.staff %}
      <li class="staff-member" data-id="{{ person.id }}">
        {% if person.image %}
        <img class="staff-image" src="" width="120" height="120" alt="{{ person.full_name }}">
        {% else %}
        <div class="staff-initials">{{ person.full_name|initials }}</div>
        {% endif %}
        <div class="staff-listing">
          <div class="staff-listing_actions secondary-link"><a href="">transfer</a></div>
          <div class="staff-details">
            <h3 class="staff_name heading-medium">{{ person.full_name }}</h3>
            <div class="staff_profession">{% if person.profession %}{{ person.profession }}{% else %}profession not set{% endif %}</div>
          </div>
          <ul class="staff-listing_links">
            <li><a href="{{ url_for('staff.member', id=person.id) }}">{{ person.manager_notes|length }} notes</a></li>
            <li><a href="{{ url_for('objectives.view_all_for_user', user_id=person.id) }}">View objectives</a></li>
          </ul>
        </div>
      </li>
      {% endfor %}
    </ul>

{% endblock %}

{% block body_end %}
  <script src="{{ asset_path }}javascripts/incremental-search.js"></script>
{% endblock %}
