{% extends "base.html" %}

{% block head %}
{{ super() }}

<!-- internal interface stylesheet -->
{% assets "css_internal_interface" %}
  <link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}

{% endblock %}

{% block body_content %}
    <a class="link-back" href="/">back</a>

    <h1 class="heading-large">Your staff</h1>

    <div class="staff_admin">
      <a class="secondary_btn incremental-search"
        data-search-url="{{ url_for('staff.search') }}"
        data-submit-url="{{ url_for('staff.add') }}"
        data-on-submit="addStaff"
        href="{{ url_for('staff.add') }}">+ add staff</a>
    </div>

    <ul id="staff_list">
      {% for person in current_user.staff %}
        {% include "staff/member.jinja" %}
      {% endfor %}
    </ul>

{% endblock %}

{% block body_end %}
  <script src="{{ asset_path }}javascripts/vendor/jinja-to-js-runtime.js"></script>
  <script src="{{ asset_path }}javascripts/templates/member.js"></script>
  <script src="{{ asset_path }}javascripts/incremental-search.js"></script>
  <script>
function addStaff(event) {
  event.preventDefault();
  var id = $(event.target).find('#id').val();

  $.ajax({
    url: "{{ url_for('staff.staff_json') }}",
    method: 'POST',
    contentType: 'application/json',
    data: '{"id": "' + id + '"}',
    success: updateStaff
  });
}

function updateStaff(data) {
  var staffList = $('#staff_list');
  staffList.empty();

  for (var i in data.staff) {
    staffList.append(templateStaffMember({"person": data.staff[i]}));
  }
}
  </script>
{% endblock %}
