/* line 1, /Users/adam/repos/crossgov/xgs-performance-prototype/application/static/sass/main/_main.scss */
section {
  border-top: 1px #bfc1c3 solid;
}

/* line 5, /Users/adam/repos/crossgov/xgs-performance-prototype/application/static/sass/main/_main.scss */
.sign-out {
  float: right;
  margin-top: 10px;
  font-size: 16px;
}

/* line 11, /Users/adam/repos/crossgov/xgs-performance-prototype/application/static/sass/main/_main.scss */
.user-details {
  margin: 20px 0px;
}

/* line 15, /Users/adam/repos/crossgov/xgs-performance-prototype/application/static/sass/main/_main.scss */
.user-details h1 {
  margin-top: 0;
}

/* line 19, /Users/adam/repos/crossgov/xgs-performance-prototype/application/static/sass/main/_main.scss */
.user-details p {
  margin-bottom: 10px;
}

/* line 23, /Users/adam/repos/crossgov/xgs-performance-prototype/application/static/sass/main/_main.scss */
.user-name {
  margin-right: 10px;
}

/* line 27, /Users/adam/repos/crossgov/xgs-performance-prototype/application/static/sass/main/_main.scss */
.status {
  padding-top: 30px;
}

/* line 31, /Users/adam/repos/crossgov/xgs-performance-prototype/application/static/sass/main/_main.scss */
.objective {
  border: 1px #bfc1c3 solid !important;
  margin: 10px 0px;
}

/* line 36, /Users/adam/repos/crossgov/xgs-performance-prototype/application/static/sass/main/_main.scss */
.objective-header {
  padding: 10px;
}

/* line 40, /Users/adam/repos/crossgov/xgs-performance-prototype/application/static/sass/main/_main.scss */
.toggle {
  float: right;
}

/* line 44, /Users/adam/repos/crossgov/xgs-performance-prototype/application/static/sass/main/_main.scss */
.details {
  border-top: 1px #bfc1c3 solid;
  padding: 10px;
}

/* line 49, /Users/adam/repos/crossgov/xgs-performance-prototype/application/static/sass/main/_main.scss */
.edit-controls {
  float: right;
  margin-top: -25px;
}

/* line 54, /Users/adam/repos/crossgov/xgs-performance-prototype/application/static/sass/main/_main.scss */
.recipients ul {
  margin: 20px 0px;
}

/* line 58, /Users/adam/repos/crossgov/xgs-performance-prototype/application/static/sass/main/_main.scss */
.recipients li {
  background: #f8f8f8;
  border: 1px solid #bfc1c3;
  padding: 15px;
  margin-bottom: 5px;
}

/* line 65, /Users/adam/repos/crossgov/xgs-performance-prototype/application/static/sass/main/_main.scss */
.recipients li:hover {
  border: 1px solid #000;
}

/* line 69, /Users/adam/repos/crossgov/xgs-performance-prototype/application/static/sass/main/_main.scss */
.recipients li a {
  float: right;
}

/* line 73, /Users/adam/repos/crossgov/xgs-performance-prototype/application/static/sass/main/_main.scss */
.search-button {
  padding-top: 5px;
  margin-left: -4px;
  width: 45px;
  height: 38px;
  border: none;
  overflow: hidden;
  text-indent: -5000px;
  background: #000 no-repeat center url(/static/icons/icon-search.png);
  cursor: pointer;
}
