{% extends '3colbase.html' %}

{% from "_macros.html" import competency_links, objectives_links %}

{% block content_nav %}
  <div>
    <h2 class="heading-medium">
      Recent notes
    </h2>
    <div class="content-nav-action"><a href="{{ url_for('notes.edit') }}">+ add note</a></div>

    {% set start=request.args.get('from', 0)|int %}
    {% set num=request.args.get('num', 5)|int(default=5) %}

    <ul>
      {% for other_note in current_user.notes[start:start + num] %}
      <li>
      {%- if note and note == other_note -%}
        <a class="current" href="">
      {%- else -%}
        <a href="{{ url_for('notes.view', id=other_note.id) }}">
      {%- endif -%}
      {{ other_note.entry.title|default(other_note.entry.content)|truncate(40) }}</a>
    {% endfor %}
    </ul>

    {% if current_user.notes|length > num %}
    <div class="content-nav-action"><a href="?num={{ num + num }}">see more</a></div>
    {% endif %}

  </div>
{% endblock %}

{% block content %}{% endblock %}

{% block content_links %}
  {% if note %}
  <h2 class="heading-medium">Link your note</h2>

  {{ competency_links(note, "note", competencies) }}

  {{ objectives_links(note, "note", current_user) }}

  {% endif %}
{% endblock %}

{% block body_end %}
<script src="/static/javascripts/internal_interface.js"></script>
{% endblock %}