{% extends '3colbase.html' %}

{% block content_nav %}
  <div class="content-nav-main">
    <h2 class="heading-medium">
      Recent notes
    </h2>
    <div class="content-nav-action"><a href="{{ url_for('notes.edit') }}">+ add note</a></div>

    {% set start=request.args.get('from', 0)|int %}
    {% set num=request.args.get('num', 5)|int(default=5) %}

    <ul class="content-nav-list">
      {% for other_note in current_user.notes[start:start + num] %}
      <li>
      {%- if note and note == other_note -%}
        <a class="current" href="">
      {%- else -%}
        <a href="{{ url_for('notes.view', id=other_note.id) }}">
      {%- endif -%}
      {{ other_note.entry.title|default(other_note.entry.content)|truncate(40) }}</a>
    {% endfor %}
    </ul>

    {% if current_user.notes|length > num %}
    <div class="content-nav-action"><a href="?num={{ num + num }}">see more</a></div>
    {% endif %}

  </div>
{% endblock %}

{% block content %}{% endblock %}

{% block content_links %}
  {% if note %}
  <h2 class="heading-medium">Link your note with</h2>
  <form class="form" method="post" action="{{ url_for('notes.link', id=note.id) }}">
    <div class="form-group">
      <label class="form-label">Competencies</label>
      <select id="competencies" name="competencies" class="form-control">
        {% for cluster in competencies|groupby('cluster.name') %}
        <optgroup label="{{ cluster.grouper }}">
          {% for competency in cluster.list %}
          <option value="{{ competency.id }}">{{ competency.name }}</option>
          {% endfor %}
        </optgroup>
        {% endfor %}
      </select>
      <button>add</button>
    </div>
  </form>
  <form class="form" method="post" action="{{ url_for('notes.link', id=note.id) }}">
    <div class="form-group">
      <label class="form-label">Objectives</label>
      <select id="objectives" name="objectives" class="form-control">
        {% for objective in current_user.objectives %}
        <option value="{{ objective.id }}">{{ objective.entry.what|truncate(40)|markdown }}</option>
        {% endfor %}
      </select>
      <button>add</button>
    </div>
  </form>
  {% endif %}
{% endblock %}
