{% extends "notes/base.html" %}

{% block endhead %}
    <link rel="stylesheet" href="/static/stylesheets/selectize.css">
{% endblock %}

{% from "_macros.html" import render_field, render_hidden %}

{% block content %}
  <form action="" method="POST" class="new-note">
    {{ render_hidden(form) }}

    <input class="heading-large" placeholder="Give Your Note a Title" name="title" id="title" value="{% if note %}{{ note.entry.title|default("") }}{% endif %}">

    {{ render_field(form.content, rows=10) }}

    <div class="form-group">
      <label class="form-label" for="tags">Tags</label>
      {{ form.tags.data }}
      {{ form.tags(class_="demo-default selectized input-tags") }}
    </div>

    <div class="form-group">
      <input class="button"  type="submit" value="Save">
    </div>
  </form>

  <div class="panel-indent">
    <p>Don't forget you can also email notes to: <strong class="bold-small"><a href="mailto:{{current_user.inbox_email}}" target="_blank">{{current_user.inbox_email}}</a></strong></p>
  </div>
{% endblock %}

{% block content_links %}

<h2 class="heading-medium">Link your note</h2>

<form method="post" action="{{ url_for('notes.link', id=note.id|default("add")) }}">

{% macro link_checkbox(item, title, field_name) %}
<label class="linking-checkbox" for="{{item.id}}_id">
  {# NB: using the ~ string concatenation operator here to force item.id to a
  string, because it's actually an ObjectId object #}
  <input id="{{item.id}}_id" name="{{ field_name }}" type="checkbox" value="{{item.id}}" {%- if (note and note.has_link(item)) or (item.id ~ "" in session["links"][field_name]) -%}checked="checked"{%- endif -%} />
  {{ title }}
</label>
{% endmacro %}

<section class="linking-list-container">
  <h4 class="linking-list_heading">Competencies</h4>
  <div class="linking-list-container">
    {% for comp in competencies %}
      {{ link_checkbox(comp, comp.name, "competencies") }}
    {% endfor %}
  </div>
</section>

<section class="linking-list-container">
  <h4 class="linking-list_heading">Your objectives</h4>
  <div class="linking-list-container">
    {% for obj in current_user.objectives|sort(attribute='created_date') %}
      {{ link_checkbox(obj, obj.title, "objectives") }}
    {% endfor %}
  </div>
</section>

<button class="button">Update links</button>
</form>

{% endblock %}

{% block body_end %}
  <script type="text/javascript" src="/static/javascripts/vendor/selectize.min.js">
  </script>
  <script type="text/javascript" src="/static/javascripts/newEntryTagging.js"></script>
{% endblock %}
