{% extends "notes/base.html" %}
{% from "_macros.html" import linked_with %}

{% block content %}

  {% if note %}
    <header class="note_header">

      <div class="note_actions">
        <ul>
          <li><a href="{{ request.path }}/edit">edit</a></li>
          <li><a href="">delete</a></li>
          <li><a href="">share</a></li>
        </ul>
      </div>

      <h1 class="heading-large note_title">
      {%- if note and note.entry.title -%}
        {{ note.entry.title }}
      {%- else -%}
        Note title
      {%- endif -%}
      </h1>

      {% if note -%}
      <span class="note_date">Added on: {{ note.created_date }}</span>
      {% endif %}

    </header>

    <section class="note_body">
      <div class="note-content text">
      {% if note -%}
        {{ note.entry.content|markdown }}
      {%- else -%}
      <p>Write your note here</p>
      {%- endif %}
      </div>
    </section>

    <section class="note-tags">
      <h3 class="heading-small">Tags:</h3>
      <ul class="tags-list">
      {% if note %}
      {% for tag in note.tags %}
        <li><a href="">{{ tag.name }}</a></li>
      {% endfor %}
      {% endif %}
      </ul>
    </section>

    <section>
      {% if note %}
      {{ linked_with(note.links) }}
      {% endif %}
    </section>

  {% else %}
    <h1 class="heading-large">Your notes</h1>

    <p class="lede">Select a recently captured note from the list to view.</p>

  {% endif %}

{% endblock %}
