{% extends "3colbase.html" %}

{% from "_macros.html" import linked_with %}

{% block content_nav %}
  <div class="content-nav-main">
    <h2 class="heading-medium">
      Your objectives
    </h2>
    <ul class="content-nav-list">
      {% for obj in objectives %}
        <li><a {% if objective and objective.id == obj.id %}class="current"{% endif %} href="{{url_for('objectives.view_objective', id=obj.id)}}">{{obj.entry.what|truncate(35, True)}}</a></li>
      {% endfor %}
    </ul>
    <div class="content-nav-action"><a href="{{url_for('objectives.add_objective')}}">+ add objective</a></div>
  </div>
{% endblock %}

{% block content %}{% endblock %}

{% block content_links %}

  {% if objective %}
  <h2 class="heading-medium">Link your objective with</h2>
  <form class="form" method="post" action="{{ url_for('objectives.link', id=objective.id) }}">
    <div class="form-group">
      <label class="form-label">Competencies</label>
      <select id="competencies" name="competencies" class="form-control">
        {% for cluster in competencies|groupby('cluster.name') %}
        <optgroup label="{{ cluster.grouper }}">
          {% for competency in cluster.list %}
          <option value="{{ competency.id }}">{{ competency.name }}</option>
          {% endfor %}
        </optgroup>
        {% endfor %}
      </select>
      <button>add</button>
    </div>
  </form>

  <p><a href="{{ url_for('competency.view') }}">View competencies</a></p>
  {% endif %}

{% endblock %}

{% block body_end %}
  <script type="text/javascript" src="/static/javascripts/vendor/jquery/jquery.min.js">
  </script>
  <script type="text/javascript" src="/static/javascripts/app.js"></script>
{% endblock %}