{% extends "3colbase.html" %}

{% from "_macros.html" import linked_with %}

{%- if user %}
  {% set objectives = user.objectives %}
{% else %}
  {% set objectives = current_user.objectives %}
{% endif -%}

{% block content_nav %}
  <div class="content-nav-main">
    <h2 class="heading-medium">
      {% if not user -%}
        Your objectives
      {%- else -%}
        {{ user.full_name }}'s objectives
      {%- endif %}
    </h2>

    {% with sort=request.args.get('sort', 'oldest-first') %}
    <div class="content-nav-action">
      <a href="{{ request.path }}{% if sort != 'newest-first' %}?sort=newest-first{% endif %}">
        {%- if sort == 'newest-first' -%}
          {# up arrow #}&#8593;
        {%- else -%}
          {# down arrow #}&#8595;
        {%- endif %} sort</a></div>
    {% endwith %}

    <ul class="content-nav-list">
    {% for obj in objectives|sort(attribute='created_date', reverse=(request.args.get('sort', 'oldest-first') == 'newest-first')) %}
      <li>
        <a {% if objective and objective == obj %}class="current"{% endif %} href="
          {%- if not user -%}
            {{ url_for('objectives.view', id=obj.id) }}
          {%- else -%}
            {{ url_for('objectives.view_others', user_id=user.id, id=obj.id) }}
          {%- endif -%}">
          {{ obj.entry.title|default('Objective #' + loop.index|string)|truncate(40) }}
        </a>
      </li>
      {% endfor %}
    </ul>
    <div class="content-nav-action"><a href="{{ url_for('objectives.edit') }}">+ add objective</a></div>
  </div>
{% endblock %}

{% block content %}{% endblock %}

{% block content_links %}

  {% if objective %}
    {% if not user %}
    <h2 class="heading-medium">Link your objective</h2>

    <!-- section for linking competencies -->
    <section class="linking_container">
      <h4 class="link_section_heading">Competencies</h4>
      {% if objective.links %}
      <ul class="linked-list">

      {% for link in objective.links %}
        {%- if link.__class__.__name__ == 'Competency' -%}
        <li class="linked-item">
          <a href="{{ url_for('objectives.view', id=link.id) }}">{{ link.name }}</a>
          <span class="remove-link"><a href="{{ request.path|replace('/edit', '') }}/unlink/{{ link.id }}">remove</a></span>
        </li>
        {%- endif -%}
      {% endfor %}

      </ul>
      {% endif %}
      <form class="form" method="post" action="{{ url_for('objectives.link', id=objective.id) }}">
        <div class="form-group">
          {% include "competency/select.html" %}
          <button>add</button>
        </div>
      </form>
      <p><a href="{{ url_for('competency.view') }}">View competency framework</a></p>
    </section>
    <!-- end linking competencies -->

    <!-- section for linking notes -->
    <section class="linking_container">
      <h4 class="link_section_heading">Your notes</h4>
      {% if objective.links %}
      <ul class="linked-list">

      {% for link in objective.links %}
        {%- if link.entry_type == 'log' -%}
        <li class="linked-item">
          <a class="button" href="{{ url_for('objectives.promote_note', id=objective.id, note_id=link.id) }}">+</a>
          <a href="{{ url_for('notes.view', id=link.id) }}">{{ link.entry.title|default(link.entry.content)|truncate(40) }}</a>
          <span class="remove-link"><a href="{{ request.path|replace('/edit', '') }}/unlink/{{ link.id }}">remove</a></span>
        </li>
        {%- endif -%}
      {% endfor %}

      </ul>
      {% endif %}
      <form class="form" method="post" action="{{ url_for('objectives.link', id=objective.id) }}">
        <div class="form-group">
          <select name="notes" id="notes" class="form-control">
            {% for note in current_user.notes %}
            <option value="{{ note.id }}">{{ note.entry.title|default(note.entry.content)|truncate(40) }}</option>
            {% endfor %}
          </select>
          <button>add</button>
        </div>
      </form>
    </section>
    <!-- end linking notes -->

    {% else %}
    <h2 class="heading-medium">Linked to objective</h2>

    <section class="linking_container">
      <h4 class="link_section_heading">Competencies</h4>
      {% if objective.links %}
      <ul class="linked-list">

      {% for link in objective.links %}
        {%- if link.__class__.__name__ == 'Competency' -%}
        <li class="linked-item">
          <a href="{{ url_for('objectives.view', id=link.id) }}">{{ link.name }}</a>
          <span class="remove-link"><a href="{{ request.path|replace('/edit', '') }}/unlink/{{ link.id }}">remove</a></span>
        </li>
        {%- endif -%}
      {% endfor %}

      </ul>
      {% endif %}
    </section>
    {% endif %}
  {% endif %}

{% endblock %}

{% block body_end %}
  <script type="text/javascript" src="/static/javascripts/vendor/jquery/jquery.min.js">
  </script>
  <script type="text/javascript" src="/static/javascripts/app.js"></script>
  <script src="/static/javascripts/internal_interface.js"></script>
{% endblock %}
