<li>
  <div class="comment">
    <dl class="comment__metadata definition-inline">
      <dt class="visuallyhidden">From</dt><dd>{{ comment.author }}</dd>
      <dt>Date</dt><dd>{{ comment.created }}</dd>
    </dl>
    <div class="comment__content">
      {{ comment.content }}
    </div>
  </div>
</li>
