{% extends "objectives/base.html" %}

{% from "_macros.html" import render_field, render_field_inset_help, render_hidden %}

{% block main_content %}

  <h1 class="heading-large">
    <span class="heading-secondary">Performance management</span>
    {%- if objective -%}
      Edit your objective
    {%- else -%}
      Write a new objective
    {%- endif -%}
  </h1>

  <form action="" method="post" class="form add-objective">
    {{ render_hidden(form) }}

    <div class="form-group">
      <label for="title" type="text" class="form-label">
        Title
        <span class="form-hint">It'll help you remember what it is about</span>
      </label>
      <input class="form-control" name="title" id="title" {%- if objective -%}
        value="{{ objective.entry.title|default("Give your objective a title") }}"
      {%- else -%}
        placeholder="Give your objective a title"
      {%- endif -%}
      >
    </div>

    {{ render_field_inset_help(form.what, "Good things to put in the What section", "What are you to achieve, by when, and how will it be measured?", rows=6) }}

    {{ render_field_inset_help(form.how, "Good things to put in the How section", "What behaviours and values will you need to use to do this well? Which competencies are important? What skills, experience and knowledge will be needed? Are there any important milestones or tasks?", rows=6) }}

    {{ render_field_inset_help(form.progress, "Good things to put in the Progress section", "What progress have you made towards achieving this objective?", rows=6) }}

    <div class="form-group">
      <button class="button">
        {%- if objective -%}
          Save
        {%- else -%}
          Add objective
        {%- endif -%}
      </button>
    </div>
  </form>

{% endblock %}
