{% extends "objectives/base.html" %}

{% from "_macros.html" import render_field, render_field_inset_help, render_hidden %}

{% block content %}

  <form action="" method="post" class="form add-objective">
    {{ render_hidden(form) }}

    <input class="heading-large" name="title" id="title" value="{%- if objective -%}
      {{ objective.entry.title|default("Give your objective a title") }}
    {%- else -%}
      Give your objective a title
    {%- endif -%}">

    {{ render_field_inset_help(form.what, "Good things to put in the What section", "What are you to achieve, by when, and how will it be measured?", rows=6) }}

    {{ render_field_inset_help(form.how, "Good things to put in the How section", "What behaviours and values will you need to use to do this well? Which competencies are important? What skills, experience and knowledge will be needed? Are there any important milestones or tasks?", rows=6) }}

    {{ render_field_inset_help(form.progress, "Good things to put in the Progress section", "What progress have you made towards achieving this objective?", rows=6) }}

    <div class="form-group">
      <button class="button">
        {%- if objective -%}
          Save
        {%- else -%}
          Add objective
        {%- endif -%}
      </button>
    </div>
  </form>

{% endblock %}
