<li class="linked-item">
  <a href="{{ note.url }}">{{ note.entry.title|truncate(40) }}</a>
  <span class="remove-link"><a href="{{ note.promote_url }}" title="add as evidence">upgrade to evidence</a></span>
</li>
