{% extends "3colbase.html" %}

  {% include "_logout.html" %}

  {% from "_macros.html" import linked_with %}

{% block content %}
  <h1 class="heading-large">Objective</h1><!-- to be title in future -->

  <h3 class="heading-small">What</h3>
  <div>{{objective.entry.what}}</div>

  <h3 class="heading-small">How</h3>
  <div>{{objective.entry.how|markdown}}</div>

  <a href="{{url_for('objectives.edit_objective', id=objective.id)}}">Edit</a>

  {{ linked_with(links) }}

{% endblock %}

{% block content_links %}

  {% if link_form %}
  <h2 class="heading-medium">Link objective with</h2>
  <form method="post" action="{{ link_url }}">
    <fieldset>
      <label>
        Competency
        {{ link_form.competencies }}
      </label>
      <button>add</button>
      <p><a href="{{ url_for('competency.view') }}">View competency framework</a></p>
    </fieldset>
  </form>
  {% endif %}

{% endblock %}

{% block body_end %}
  <script type="text/javascript" src="/static/javascripts/vendor/jquery/jquery.min.js">
  </script>
  <script type="text/javascript" src="/static/javascripts/app.js"></script>
{% endblock %}
