{% extends "base.html" %}

{% block body_content %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <div id="global-breadcrumb" class="header-context">
        <ol role="breadcrumbs" class="group">
          <li><a href="/">Home</a></li>
          <li>Objectives</li>
        </ol>
      </div>
      </div>
      <div class="column-third">
        {% include "_logout.html" %}
      </div>
  </div>

  <h1 class="heading-large">Objectives overview</h1>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h2 class="heading-medium">Your objectives</h2>
      {% if not objectives %}
        <p>No objectives set up yet</p>
      {% endif %}
      <ul>
        {% for objective in objectives %}
          <li class="objective">
            <header class="objective-header">{{objective.entry.what}} <span class="toggle"><a href="#">Show</a><a href="#" style="display: none;">Hide</a></span></header>
            <div class="details" style="display: none;">
              {{objective.entry.how|markdown}}
              <a href="{{url_for('objectives.edit_objective', id=objective.id)}}">Edit</a>
              <a href="{{url_for('objectives.view_objective', id=objective.id)}}">View in full</a>
            </div>
          </li>
        {% endfor %}
      </ul>
      <a href="{{url_for('objectives.add_objective')}}">Add an objective</a>

    </div>

   <div class="column-third">
      <section class="status">
        <h2 class="heading-small">Last updated</h2>
        <p>
          {% if objectives %}
            {{objectives[0].entry.started_on | format_date}}
          {% endif %}
        </p>
      </section>

      <section class="related">
        <h2>Useful resources</h2>
        <nav>
          <ul>
            <li><a href="https://civilservicelearning.civilservice.gov.uk/sites/default/files/resources/cscf_fulla4potrait_2013-2017_v2e.pdf">Competency framework</a></li>
            <li><a href="https://civilservicelearning.civilservice.gov.uk/competency-framework/how-use-competency-framework">How to use the competency framework</a></li>
            <li><a href="https://civilservicelearning.civilservice.gov.uk/competency-framework/case-study-1">A case study</a></li>
            <li><a href="https://civilservicelearning.civilservice.gov.uk/learning-opportunities/performance-objectives-and-competency-e-learning">Competency and objective training</a></li>
            <li><a href="https://civilservicelearning.civilservice.gov.uk/sites/default/files/howtosetsmartobjectivescfindicatorstr230513fvissue3.doc">How to set SMART objectives</a></li>
          </ul>
        </nav>
      </section>

    </div>
  </div>


{% endblock %}

{% block body_end %}
  <script type="text/javascript" src="/static/javascripts/vendor/jquery/jquery.min.js">
  </script>
  <script type="text/javascript" src="/static/javascripts/app.js"></script>
{% endblock %}
