{% extends "objectives/base.html" %}

{% block content %}

  <h1 class="heading-large">
    {%- if not user -%}
      Your objectives
    {%- else -%}
      {{ user.full_name }}'s objectives
    {%- endif -%}
  </h1>

  <p class="lede">Select an objective from the list</p>

  <ul>
  {% for obj in objectives %}
    <li>
      <details class="accordion">
        <summary class="accordion-head"><h3 class="accordion-title">{{ obj.entry.title|default('Objective #' + loop.index|string)|truncate(40) }}</h3></summary>
        <div class="accoridon-content">
          <a href="{{ url_for('objectives.view', id=obj.id) }}">{{ obj.entry.title|default('Objective #' + loop.index|string)|truncate(40) }}</a>
        </div>
      </details>
    </li>
  {% endfor %}
  </ul>

{% endblock %}

{% block content_links %}

  <section class="related">
    <h2>Useful resources</h2>
    <nav>
      <ul>
        <li><a href="https://civilservicelearning.civilservice.gov.uk/sites/default/files/resources/cscf_fulla4potrait_2013-2017_v2e.pdf">Competency framework</a></li>
        <li><a href="https://civilservicelearning.civilservice.gov.uk/competency-framework/how-use-competency-framework">How to use the competency framework</a></li>
        <li><a href="https://civilservicelearning.civilservice.gov.uk/competency-framework/case-study-1">A case study</a></li>
        <li><a href="https://civilservicelearning.civilservice.gov.uk/learning-opportunities/performance-objectives-and-competency-e-learning">Competency and objective training</a></li>
        <li><a href="https://civilservicelearning.civilservice.gov.uk/sites/default/files/howtosetsmartobjectivescfindicatorstr230513fvissue3.doc">How to set SMART objectives</a></li>
      </ul>
    </nav>
  </section>

{% endblock %}
