{% extends "objectives/base.html" %}

{% block main_content %}

  <h1 class="heading-large">
    {%- if not user -%}
      Your objectives
    {%- else -%}
      {{ user.full_name }}'s objectives
    {%- endif -%}
  </h1>

  <p class="lede">Below is a summary of your {{ objectives|length }} objectives.</p>

  <ul>
    {% from 'objectives/partials/_objective-summary.html' import render_obj_summary with context %}
    {% for obj in objectives|reverse %}
      {{ render_obj_summary( obj, loop.index|string ) }}
    {% endfor %}
  </ul>

{% endblock %}

{% block content_links %}

  <section class="related">
    <h2>Useful resources</h2>
    <nav>
      <ul>
        <li><a href="https://civilservicelearning.civilservice.gov.uk/learning-opportunities/performance-management-e-learning">Performance management (e-learning)</a></li>
        <li><a href="https://civilservicelearning.civilservice.gov.uk/sites/default/files/howtosetsmartobjectivescfindicatorstr230513fvissue3.doc">How to set SMART objectives</a></li>
        <li><a href="https://civilservicelearning.civilservice.gov.uk/competency-framework/case-study-1">A case study</a></li>
        <li><a href="https://civilservicelearning.civilservice.gov.uk/learning-opportunities/performance-objectives-and-competency-e-learning">Competency and objective training</a></li>
        <li><a href="https://civilservicelearning.civilservice.gov.uk/learning-opportunities/facetoface/managing-people-regular-performance-discussions-0">Regular performance discussions</a></li>
      </ul>
    </nav>
  </section>

{% endblock %}
