{% extends "objectives/base.html" %}

{% block content %}
  {% if objective %}
  <header class="note_header">

    <div class="note_actions">
      <ul>
        <li><a href="{{ url_for('objectives.edit', id=objective.id) }}">edit</a></li>
        <li><a href="">delete</a></li>
        <li><a href="">share</a></li>
      </ul>
    </div>

    <h1 class="heading-large note_title">{{ objective.entry.title|default("Objective") }}</h1>

    <span class="note_date">Added on: {{ objective.created_date }}</span>

  </header>

  <section class="item-view_body">
    <h3 class="heading-small">What</h3>
    <div>{{ objective.entry.what|markdown }}</div>

    <h3 class="heading-small">How</h3>
    <div class="rendered-markdown">{{ objective.entry.how|markdown }}</div>

    <h3 class="heading-small">Progress</h3>
    <div class="rendered-markdown"></div>
  </section>

  <section class="obj_attachments">
    <h3 class="heading-small">Evidence</h3>
    {% if not user %}
    <a href="{{ url_for('objectives.add_evidence', id=objective.id) }}">+ add</a>
    {% endif %}
    <ul>
    {% for item in objective.evidence %}
      <li>
        <div class="evidence collapsed">
          <span class="title">{{ item.entry.title }}</span>
          <span class="metadata">added on {{ item.created_date }}</span>
          <div class="content">{{ item.entry.content }}</div>
        </div>
      </li>
    {% endfor %}
    </ul>
  </section>

  <section class="obj_comments">
    <h3 class="heading-small">Comments</h3>
    {% for comment in objective.comments %}
    <div class="comment">
      <div class="metadata">
        <span>From: {{ comment.owner.full_name }}</span>
        <span>Date: {{ '{:%Y-%m-%d %H:%M:%S}'.format(comment.created_date) }}</span>
      </div>
      <div class="content">
        {{ comment.entry.content }}
      </div>
    </div>
    {% endfor %}
    <form method="post" action="{{ request.path }}/comment">
      <fieldset>
        <textarea name="content" id="content"></textarea>
      </fieldset>
      <button class="button">Comment</button>
    </form>
  </section>

  {% else %}
    <h1 class="heading-large">
      {%- if not user -%}
        Your objectives
      {%- else -%}
        {{ user.full_name }}'s objectives
      {%- endif -%}
    </h1>

    <p class="lede">Select an objective from the list</p>

    <section class="related">
      <h2>Useful resources</h2>
      <nav>
        <ul>
          <li><a href="https://civilservicelearning.civilservice.gov.uk/sites/default/files/resources/cscf_fulla4potrait_2013-2017_v2e.pdf">Competency framework</a></li>
          <li><a href="https://civilservicelearning.civilservice.gov.uk/competency-framework/how-use-competency-framework">How to use the competency framework</a></li>
          <li><a href="https://civilservicelearning.civilservice.gov.uk/competency-framework/case-study-1">A case study</a></li>
          <li><a href="https://civilservicelearning.civilservice.gov.uk/learning-opportunities/performance-objectives-and-competency-e-learning">Competency and objective training</a></li>
          <li><a href="https://civilservicelearning.civilservice.gov.uk/sites/default/files/howtosetsmartobjectivescfindicatorstr230513fvissue3.doc">How to set SMART objectives</a></li>
        </ul>
      </nav>
    </section>

  {% endif %}

{% endblock %}
