{% extends "objectives/base.html" %}

{% block inside_banner %}
{%- if user -%}<span class="user_indicator--manager">manager view</span>{%- endif -%}
{% endblock %}

{% block main_content %}

  <section class="objective_container">
    <header class="note_header">

      {%- if not user -%}
      <div class="note_actions">
        <ul>
          <li><a href="{{ url_for('objectives.edit', id=objective.id) }}">edit</a></li>
          <li><a href="">delete</a></li>
          <li><a href="">share</a></li>
        </ul>
      </div>
      {%- endif -%}

      <h1 class="heading-large note_title">
        {%- if user -%}<span class="heading-secondary">{{ user.full_name }}'s Objectives</span>{%- endif -%}
        {{ objective.entry.title|default("Objective") }}
      </h1>

      {% if objective.entry.last_updated is defined %}
        {% if objective.entry.last_updated != None %}
        <span class="note_date">Last edited on {{ "{:%a %d %b %y %p}".format(objective.entry.last_updated) }}</span>
        {% endif %}
      {% endif %}

    </header>

    <section class="item-view_body">
      <h3 class="heading-small">What</h3>
      <div>{{ objective.entry.what|markdown }}</div>

      <h3 class="heading-small">How</h3>
      <div class="rendered-markdown">{{ objective.entry.how|markdown }}</div>

      <h3 class="heading-small">Measures</h3>
      <div class="rendered-markdown">{{ objective.entry.measures|default('')|markdown }}</div>
      <h3 class="heading-small">Outcomes</h3>
      <div class="rendered-markdown">{{ objective.entry.outcomes|default('')|markdown }}</div>
      <h3 class="heading-small">Deliverables</h3>
      <div class="rendered-markdown">{{ objective.entry.deliverables|default('')|markdown }}</div>
      <h3 class="heading-small">Progress</h3>
      <div class="rendered-markdown">{{ objective.entry.progress|default('')|markdown }}</div>
    </section>

    {% include 'objectives/partials/_evidence.html' %}

  </section><!-- end objective_container -->

  <section class="obj_comments">
    <h3 class="heading-medium">Comments</h3>
    <ul id="comments_list">
    {% if objective.comments|length > 0 %}
      {% for comment in objective.comments|sort(true,attribute='created_date') %}
        {% include "objectives/comment.jinja" %}
      {% endfor %}
    {% else %}
    <li><p class="comment__none">No comments yet</p></li>
    {% endif %}
    </ul>

    {%- if user -%}
    <form class="comment_form" method="post" action="{{ request.path }}/comment">
      <textarea placeholder="enter comment here" class="form-control comment_content_entry" name="content"></textarea>
      <button class="button">Comment</button>
    </form>
    {% endif %}
  </section>

{% endblock %}

{% block body_end %}
  <script src="{{ asset_path }}javascripts/vendor/jinja-to-js-runtime.js"></script>
  <script src="{{ asset_path }}javascripts/templates/comment.js"></script>
  <script>

$('.comment_form').on('submit', addComment);

function addComment(event) {
  event.preventDefault();
  var content = $(event.target).find('[name="content"]').val();

  $.ajax({
    url: "{{ url_for('objectives.comments', id=objective.id) }}",
    method: 'POST',
    contentType: 'application/json',
    data: '{"content": "' + content + '"}',
    success: updateComments
  });
}

function updateComments(data) {
  var commentsList = $('#comments_list');
  commentsList.empty();

  for (var i in data.comments) {
    commentsList.append(templateObjectivesComment({'comment': data.comments[i]}));
  }
}
  </script>
{% endblock %}
