{% from '_macros.html' import render_field, render_hidden %}

<!-- attached evidence -->
<section class="obj_attachments">
  <header class="obj_attachments_head">
    {% if not user %}
    <a class="evidence-add-link evidence-add-link--right" href="{{ url_for('objectives.add_evidence', id=objective.id) }}">+ add evidence</a>
    {% endif %}
    <h3 class="heading-small">Evidence</h3>
  </header>

  {% if evidence_form %}
  <div class="evidence_add">

    <h3 class="heading-small">Attach evidence</h3>

    <form class="evidence_form" method="post" action="{{ url_for('objectives.add_evidence', id=objective.id) }}">
      {{ render_hidden(evidence_form) }}
      {{ render_field(evidence_form.title) }}
      {{ render_field(evidence_form.content, rows=4) }}
      <button class="button">Attach evidence</button>
    </form>

  </div>
  {% endif %}

  {% if objective.evidence|length > 0 %}
    <ul class="evidence_list">
    {% for item in objective.evidence %}
      <li class="evidence_item">

        <details>
          <summary class="evidence_summary">
            <span class="evidence_title">{{ item.entry.title }}</span>
            <span class="evidence_date">added on {{ "{:%d %b %Y}".format(item.created_date) }}</span>
            {% if not user %}
            <span class="evidence_remove remove-link"><a href="{{ url_for('objectives.remove_evidence', id=objective.id, evidence_id=item.id) }}">remove</a></span>
            {% endif %}
          </summary>
          <div class="panel-indent evidence_content">{{ item.entry.content|markdown }}</div>
        </details>

      </li>
    {% endfor %}
    </ul>
  {% else %}
    <p class="comment__none">No evidence attached</p>
  {% endif %}
</section>
