#global-header .header-wrapper .header-global .site-search {
  width: 33.33%;
  float: right;
}

main {
  font-size: 19px;
  line-height: 1.31579;
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

#content {
  padding-bottom 30px;
  margin: 0 15px;
  max-width: 960px;
}

@media (min-width: 641px) {
  #content {
    margin: 0 30px;
  }
}

@media (min-width: 1020px) {
  #content {
    margin: 0 auto;
  }
}

@media (min-width: 769px) {
  #content {
    padding-bottom: 90px;
  }
}

.button {
    background-color: #00823b;
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    padding: 0.3em 0.6em 0.2em 0.6em;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-box-shadow: 0 2px 0 #003618;
    -moz-box-shadow: 0 2px 0 #003618;
    box-shadow: 0 2px 0 #003618;
    font-size: 1em;
    line-height: 1.25;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 15px 15px 0;
    padding: 0.52632em 0.78947em 0.26316em 0.78947em;
    vertical-align: top;
}

.form-group {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 100%;
    margin-bottom: 15px;
}

@media (min-width: 641px) {
.form-group {
    margin-bottom: 30px;
}
}

.form-label, .form-label-bold {
    display: block;
    color: #0b0c0c;
}

.form-label {
    font-family: "nta", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
}

@media (min-width: 641px) {
.form-label {
    font-size: 19px;
    line-height: 1.31579;
}
}

.form-control {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "nta", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
    width: 100%;
    padding: 4px;
    background-color: #fff;
    border: 2px solid #6f777b;
}

@media (min-width: 641px) {
.form-control {
    font-size: 19px;
    line-height: 1.31579;
}
}

@media (min-width: 641px) {
.form-control {
    width: 50%;
}
}

.heading-large, .summary-list-inline .info-highlight {
    font-family: "nta", Arial, sans-serif;
    font-size: 24px;
    line-height: 1.04167;
    font-weight: 700;
    text-transform: none;
    margin-top: 1.04167em;
    margin-bottom: 0.41667em;
}

@media (min-width: 641px) {
.heading-large, .summary-list-inline .info-highlight {
    font-size: 36px;
    line-height: 1.11111;
}
}

@media (min-width: 641px) {
.heading-large, .summary-list-inline .info-highlight {
    margin-top: 1.25em;
    margin-bottom: 0.55556em;
}
}

.button.secondary {
    background-color: #eee;
    color: #0b0c0c;
    box-shadow: 0 2px 0 #ccc;
}
