{% extends "hr/base.html" %}

{% block page_content %}
<h1 class="heading-large">
  Performance dashboard
</h1>

<section class="dashboard-section">
  <h2 class="heading-medium">Digital capability gap</h2>

  {% include 'hr/charts/digital_gap.html' %}

  <ul data-svg-for="digital-cap" class="capability-btns">
    <li><a href="" class="lastyear capability-btn" data-class-to-add="lastyear">last year</a></li>
    <li><a href="" class="active thisyear capability-btn" data-class-to-add="thisyear">this year</a></li>
    <li><a href="" class="capability-btn" data-class-to-add="both">both</a></li>
  </ul>
</section>

{% endblock %}

{% block body_end %}
<script type="text/javascript">
  (function($, window){

    $(function() {
      $(".capability-btns").on('click', 'a', function() {
        var for_selector = $(this).parents(".capability-btns").data('svg-for');
        var svg = $( "." + for_selector );
        console.log($(this).data('class-to-add'));
        svg.attr( "class", for_selector + " " + $(this).data('class-to-add') );
        $(this)
          .parents(".capability-btns")
            .find("a")
              .removeClass("active")
            .end()
          .end()
        .addClass("active");

        return false;
      });
    });
  }).call(this, jQuery, window);
</script>
{% endblock %}
