// Messaging panel styles
// ==========================================================================

.msg-box {
  background: $link-colour;
  box-sizing: border-box;
  color: $page-colour;
  width: 100%;

  padding: 75px 70px;

  p {
    font-size: 24px;
    line-height: 1.25;
  }

  .form-control {
    border-color: $page-colour;
    padding-bottom: 2px;
  }
}

.msg-box-btn {
  background: $highlight-colour;
  border: none;
  color: $link-colour;
  font-weight: bold;
  box-shadow: 0 2px 0 $text-colour;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;

  &:hover {
    background: $panel-colour;
  }
}

.msg-box-btn--del {
  margin: 0;
  box-shadow: 0 2px 0 $panel-colour;
  font-weight: normal;
  padding: 7px 7px 0;
  height: 33px;
}

.tag-entry-group {
  margin-bottom: 10px;
}