// Messaging panel styles
// ==========================================================================

.msg-box {
  background: $link-colour;
  box-sizing: border-box;
  color: $page-colour;
  width: 100%;

  padding: 75px 70px;

  p {
    font-size: 24px;
    line-height: 1.25;
  }

  .form-control {
    border-color: $page-colour;
    padding-bottom: 2px;
  }

  .note-tag {
    border-color: $page-colour;
    font-size: 19px;
    padding: 4px 5px 0;
  }

  .form-label {
    color: #fff;
    font-weight: bold;
  }

  details,
  summary,
  details summary:hover {
    color: $page-colour;
  }
  
}

.msg-box-btn {
  background: $highlight-colour;
  border: none;
  color: $link-colour;
  font-weight: bold;
  font-size: 0.8em;
  box-shadow: 0 2px 0 $text-colour;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;

  &:hover,
  &:visited,
  &:focus {
    background: $panel-colour;
    color: $link-colour;
  }
}

.msg-box-btn--del {
  margin: 0;
  box-shadow: 0 2px 0 $panel-colour;
  font-weight: normal;
  padding: 7px 7px 0;
  height: 33px;
}

.tag-entry-group {
  margin-bottom: 10px;
}

// ====================
.copy-paste-panel {
  background: $highlight-colour;
  color: $link-colour;
  padding: 5px;
  margin-bottom: $gutter;
  p {
    font-size: 16px;
    margin: 0;
    border-bottom: 1px solid $link-colour;
  }
  input {
    width: 100%;
    margin-top: 5px;
    box-sizing: border-box;
    color: $link-colour;
  }
}