// Global stuff
// ==========================================================================

.sign-out {
  text-align: right;
  margin: 10px 0;
  font-size: 16px;

  .user-name {
    margin-right: 10px;
  }
}

.feedback-footer {
  display: none;
}

.message-box {
  background: $link-colour;
  color: $page-colour;
  padding: 10px;
  margin-bottom: $gutter;

  h3 {
    margin-top: 5px;
  }

  p {
    margin: 5px 0;
    font-size: 16px;
  }

  a {
    color: $page-colour;
  }
}

.more-link {
  font-weight: bold;
}

.flag {
  font-size: 16px;
  padding: 4px 3px 0;
  border: 2px solid $grey-2;
  line-height: 1em;
  border-radius: 3px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
}

.email-flag {
  @extend .flag;
  color: $page-colour;
  border-color: $grey-3;
  background: $grey-3;
}

.undo-flag {
  @extend .flag;
  color: $page-colour;
  border-color: $secondary-text-colour;
  background: $secondary-text-colour;
  float: right;
  border-radius: 2px;

  &:hover {
    border-color: $text-colour;
    background: $text-colour;
  }
}

.test {
  max-width: 30em;
  margin: 0 auto;
}

.dismiss {
  float: right;
  color: $page-colour;
  font-size: 16px;
  margin-top: -13px;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

// Notes
// ==========================================================================
.note {
  &:hover {
    cursor: pointer;

    .email-flag {
      border-color: $grey-2;
      background: $grey-2;
    }
  }
}

// Notes list, central
// ==========================================================================
.notes-list {
  margin-top: $gutter;
  padding: 0 $gutter;

  > li {
    margin: 0 auto $gutter;
    max-width: 30em;
    padding: $gutter-half;
    border: 1px solid $border-colour;
    box-shadow: 2px 2px 4px rgba(0,0,0, 0.3);
    box-sizing: border-box;
  }
}

// Notes list, left
// ==========================================================================
.browse-pane {
  .note {
    border-top: 1px solid $border-colour;
    padding: 15px 10px;

    &:hover {
      color: $page-colour;
      background: $link-colour;
      cursor: pointer;

      .note-date {
        color: $highlight-colour;
      }
    }
  }
}

.note-date {
  display: inline-block;
  text-transform: uppercase;
  color: $secondary-text-colour;
  letter-spacing: 1px;
  margin-bottom: 10px;
  font-size: 16px;
}

.undo-link {
  @extend .note-date;
  text-transform: initial;
}

.note-date + .email-flag {
  margin-left: 10px;
}
.email-flag {
  float: right;
}

.note-title {
  line-height: 1;
  margin: 0;
}

// Notes list, left 2
// ==========================================================================
.note--minimal {
  @extend .note;

  .note-date {
    margin: 10px 0 0;
    font-size: 16px;
  }
}

// Centred note for,
// ==========================================================================
.add-note-form {
  max-width: 30em;
  margin: 0 auto;
  padding: 15px $gutter-half;
  border: 1px solid $border-colour;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px rgba(0,0,0, 0.3);

  input, textarea {
    border: none;
    box-sizing: border-box;
    width: 100%;
  }
  textarea:focus {
    outline: none;
  }
  button {
    margin-top: 15px;
    margin-bottom: 0;
    box-shadow: none;
    padding: 8px 10px 5px;
    border-radius: 2px;
    display: none;
  }
  &.active {
    border: 4px solid $focus-colour;
    button {
      display: inline-block;
    }
  }
}

.note-form {
  box-sizing: border-box;

  textarea {
    border: none;
    box-sizing: border-box;
    width: 100%;
  }

  textarea:focus {
    outline: none;
  }

  button {
    margin-top: 15px;
    margin-bottom: 0;
    box-shadow: none;
    padding: 8px 10px 5px;
    border-radius: 2px;
  }
}

.note {
  .note-form {
    margin-bottom: 15px;
    display: none;
  }
  .undo-flag,
  .undo-link {
    display: none;
  }
}

.js-enabled {
  .note.edit-mode {
    border: 4px solid $focus-colour;
    .note-form {
      display: block;
    }
    .rendered-note {
      display: none;
    }
  }
  .note.undo-mode {
    .note-date {
      display: none;
    }
    .undo-link {
      display: inline-block;
    }
    .undo-flag {
      display: block;
    }
  }
}


