// Global stuff
// ==========================================================================

// Full width blue header
.full-width-conatiner {
  background: $govuk-blue;
  padding: 45px 0;
  margin-bottom: 45px;
  max-width: 100%;

  .grid-row {
    max-width: $site-width + $gutter;
    margin: auto;
  }

  h1 {
    color: $page-colour;
    font-size: 36px;
    font-weight: bold;
    line-height: 40px;
  }
}

.full-width {
  // Hide standard blue strip
  #global-header-bar {
    display: none;
  }
}

.account-bar {
  @extend %contain-floats;
  padding: 10px 0;
}

.feature-nav,
.sign-out {
  float: left;
  width: 50%;
  font-size: 16px;

  .nav-item {
    margin-right: 10px;
  }
}

.sign-out {
  text-align: right;

  .nav-item {
    margin-right: 10px;
  }
}

.feedback-footer {
  display: none;
}

.message-box {
  background: $link-colour;
  color: $page-colour;
  padding: 10px;
  margin-bottom: $gutter;

  h3 {
    margin-top: 5px;
  }

  p {
    margin: 5px 0;
    font-size: 16px;
  }

  a {
    color: $page-colour;
  }
}

.more-link {
  font-weight: bold;
}

.flag {
  font-size: 16px;
  padding: 4px 3px 0;
  border: 2px solid $grey-2;
  line-height: 1em;
  border-radius: 3px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
}

.email-flag {
  @extend .flag;
  color: $page-colour;
  border-color: $grey-3;
  background: $grey-3;
}

.undo-flag {
  @extend .flag;
  color: $page-colour;
  border-color: $secondary-text-colour;
  background: $secondary-text-colour;
  float: right;
  border-radius: 2px;

  &:hover {
    border-color: $text-colour;
    background: $text-colour;
  }
}

.test {
  max-width: 30em;
  margin: 0 auto;
}

.dismiss {
  float: right;
  color: $page-colour;
  font-size: 16px;
  margin-top: -13px;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.empty-state {
  color: $border-colour;
}

.empty-state-large {
  @extend .empty-state;
  font-weight: bold;
  font-size: 80px;
  color: $panel-colour;
  text-align: center;
}

.bold-text {
  font-weight: bold;
}

// Notes
// ==========================================================================
.note {
  &:hover {
    cursor: pointer;

    .email-flag {
      border-color: $grey-2;
      background: $grey-2;
    }
  }
  &.delete-mode {
    border: 4px solid $error-colour;
  }
}

// Delete notes
// ==========================================================================
.delete-note-form {
  @extend %contain-floats;

  .save-cancel-group {
    margin-top: 0;
  }

  .form-label {
    margin-bottom: 10px;
  }
}

// Notes list, central
// ==========================================================================
.notes-list {
  margin-top: $gutter;
  padding: 0 $gutter;

  > li {
    margin: 0 auto $gutter;
    max-width: 30em;
    padding: $gutter-half;
    border: 1px solid $border-colour;
    box-shadow: 2px 2px 4px rgba(0,0,0, 0.3);
    box-sizing: border-box;
  }
}

// Notes list, left
// ==========================================================================
.browse-pane {
  .note {
    border-top: 1px solid $border-colour;
    padding: 15px 10px;

    &:hover {
      color: $page-colour;
      background: $link-colour;
      cursor: pointer;

      .note-date {
        color: $highlight-colour;
      }
    }
  }
}

.note-date {
  display: inline-block;
  text-transform: uppercase;
  color: $secondary-text-colour;
  letter-spacing: 1px;
  margin-bottom: 10px;
  font-size: 16px;
}

.undo-link {
  @extend .note-date;
  text-transform: initial;
}

.note-date + .email-flag {
  margin-left: 10px;
}
.email-flag {
  float: right;
}

.note-title {
  line-height: 1;
  margin: 0;
}

// Notes list, left 2
// ==========================================================================
.note--minimal {
  @extend .note;

  .note-date {
    margin: 10px 0 0;
    font-size: 16px;
  }
}

// Centred note for,
// ==========================================================================
.add-note-form {
  max-width: 30em;
  margin: 0 auto;
  padding: 15px $gutter-half;
  border: 1px solid $border-colour;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px rgba(0,0,0, 0.3);
  position: relative;

  input, textarea {
    border: none;
    box-sizing: border-box;
    width: 100%;
  }
  textarea:focus {
    outline: none;
  }
  button {
    margin-top: 15px;
    margin-bottom: 0;
    box-shadow: none;
    padding: 8px 10px 5px;
    border-radius: 2px;
    display: none;
  }
  &.active {
    border: 4px solid $focus-colour;
    button {
      display: inline-block;
    }
  }
}

.note-form {
  box-sizing: border-box;

  textarea {
    border: none;
    box-sizing: border-box;
    width: 100%;
  }

  textarea:focus {
    outline: none;
  }

  button {
    margin-bottom: 0;
    box-shadow: none;
    padding: 8px 10px 5px;
    border-radius: 2px;
  }
}

.save-controls {
  margin-top: 15px;
  .link-control {
    line-height: 36px;
  }
}

.note {
  position: relative;
  .note-form,
  .note-edit-controls {
    margin-bottom: 15px;
    display: none;
  }
  .undo-flag,
  .undo-link {
    display: none;
  }
}

.note-meta,
.note .tag-list {
  text-align: right;

  .note-tag {
    margin-right: 0;
    margin-left: 5px;
  }
}

.close-btn {
  display: none;
  position: absolute;
  padding: 7px 5px 4px 5px;
  border: 1px solid $border-colour;
  background: $page-colour;
  right: -1px; top: -1px;
  font-size: 16px;
  line-height: 1em;

  &:hover {
    color: $link-colour;
    cursor: pointer;
    text-decoration: underline;
  }
}
.delete-note-confirmation {
  display: none;
}

.js-enabled {
  .note.edit-mode {
    border: 4px solid $focus-colour;
    .note-form,
    .note-edit-controls {
      display: block;
    }
    .rendered-note,
    .note-date {
      display: none;
    }
    .close-btn {
      display: inline-block;
    }
  }
  .note.undo-mode {
    .note-date {
      display: none;
    }
    .undo-link {
      display: inline-block;
    }
    .undo-flag {
      display: block;
    }
  }
  .note.delete-mode {
    .rendered-note,
    .note-meta {
      display: none;
    }
    .delete-note-confirmation {
      display: block;
    }
  }
}

// Tagging in edit mode
// =======================
.tag-input {
  border: none;
  border-bottom: 1px solid $panel-colour;

  &:focus {
    outline: none;
    border-bottom: 1px solid $border-colour;
  }
}

.note .tag_suggestions {
  display: none;
}

// Image upload
// ==========================================================================
.image-upload {
  position: absolute;
  right: 5px; top: 5px;
  overflow: hidden;
  padding: 5px 0 0 5px;
  width: 40px; height: 40px;

  &:hover {
    // yuck
    border-bottom: 1px solid $text-colour;
    cursor: pointer;
  }

  img {
    width: 35px; height: 35px;
  }

  input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
    font-size: 24px;
    filter: alpha(opacity=0);
  }
}

// spacing between entry and notes
// ==========================================================================
.notes-main {
  margin: 0 auto $gutter;
  max-width: 30em;
  border-top: 1px solid $grey-3;
  //padding-bottom: $gutter;
}

.notes-section {
  margin: 0 auto;
  max-width: 30em;
  border-top: 1px solid $grey-3;
}

// Search results
// ==========================================================================
.result-info {
  strong {
    font-weight: bold;
  }
  margin-bottom: 0;
}

.result-count {
  font-weight: bold;
  font-size: 48px;
}

.search-term {
  background: $focus-colour;
  font-weight: 600;
}

// Tags
// ==========================================================================
.note-tag {
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid $text-colour;
  padding: 3px 3px 0;
  margin-right: 5px;
  margin-bottom: 3px;

  a {
    color: $text-colour;
    text-decoration: none;
  }

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .tag-quantity {
    position: absolute;
    display: inline-block;
    background: $text-colour;
    color: $page-colour;
    padding: 0 3px 0 5px;
    height: 23px;
    line-height: 23px;
    right: 0;
    top: 0;
  }
}

.note-tag--count {
  padding-right: 19px;
}
