// Pagintation
// ==========================================================================

@mixin pagination-arrow($direction) {
  @if $direction == "right" {
    float: right;
    padding-right: $gutter;
    text-align: right;
    &:after {
      content: '\232A';
      right: -10px;
    }
  } @else {
    float: left;
    padding-left: $gutter;
    &:after {
      content: '\2329';
      left: -10px;
    }
  }

  &:after {
    position: absolute;
    top: 4px;
    font-size: 40px;
    font-weight: bold;
  }
}

.pagination {
  @extend %contain-floats;
  margin: 10px 0 -10px;
  ul {
    list-style: none;
  }
  li {
    box-sizing: border-box;
    font-size: 27px;
    line-height: 40px;
    padding: 0;
    position: relative;
    width: 49%;

    &:hover {
      background: darken($link-colour, 2.5%);
    }

    &.previous {
      @include pagination-arrow("left");
    }
    &.next {
      @include pagination-arrow("right");
    }
    span {
      display: block;
    }

    a {
      display: block;
      // only for in message box
      color: $highlight-colour;
      text-decoration: none;
      &:hover {
        color: $page-colour;
      }
    }

    .pagination-label {
      text-decoration: none;
    }
  }
}