<nav class="account-bar">
  <div class="feature-nav">
    <span class="nav-item"><a href="{{url_for('notesapp.view6')}}">Notes</a></span>
    <span class="nav-item"><a href="{{url_for('notesapp.tags2')}}">Labels</a></span>
    <span class="nav-item"><a href="{{url_for('notesapp.timeline')}}">Timeline</a></span>
  </div>
  <div class="sign-out">

  {% if current_user.is_authenticated %}

    <span class="nav-item">{{current_user.full_name}}</span>
    <span class="nav-item"><a href="{{url_for('notesapp.settings2')}}">Settings</a></span>
    <a href="{{ logout_url }}">Sign out</a>

  {% else %}
    <!-- this isn't rendering -->
    <a href="{{url_for('sso.login')}}">Sign in</a>
  {% endif %}
  </div>
</nav>