{% extends "base.html" %}

{% block body_content %}

{% include "_logout.html" %}

<div class="grid-row">
  <div class="column-two-thirds">
    <div id="global-breadcrumb" class="header-context">
      <ol role="breadcrumbs" class="group">
        <li><a href="/">Home</a></li>
        <li>Skills audit</li>
      </ol>
    </div>
  </div>
</div>

<h1 class="heading-large">
<!--  <span class="heading-secondary">Capability self assessment</span>-->
<!-- secondary heading taken out by Tom as there are only so many ways to say this without it looking repetitive -->
  Assess your capability level
</h1>

<p class="lede text">Tell us how you rate yourself against the Civil Service's four key capabilities. A capability is a mixture of skills and experience. Not all may apply to you; indeed none may apply yet.</p>

<details>
  <summary>Why are we asking you to do this?</summary>
  <div class="panel-indent text">
    <p>The Civil Service needs to be ready for the challenges of the future.
    Our staff already have skills in operational delivery, policy etc.
    We also need new skills to remain fit for purpose in 2020. The Civil Service capability plan identified four areas that are essential if we're going to be ready to deliver in the future.</p>

    <p>We want to know whether you have skills in these new priority capability areas. Tell us your level - as you understand it - using the sliders below. If you're not sure, there is guidance below each one. You can also discuss them with your manager.</a>

      <p>You and your manager may also want to think about these areas when considering any development objectives for the year. You can update the levels any time you feel you have made progress.</p>
  </div>
</details>

  <form class="form skills-audit-form" action="" method="post">

    <!-- COMMERCIAL -->
    <div class="form-group form-range-group">
      <label for="commercial" class="form-label">Commercial</label>
      <p class="text">The government spends £45 billion each year on goods and services. Obtaining better value requires all civil servants to demonstrate sound financial and commercial understanding.</p>
      {{ form.commercial(class_='form-control') }}

      <ul class="capability-labels">
        <li class="na selected">N/A</li>
        <li class="awareness">Awareness</li>
        <li class="working">Working</li>
        <li class="practitioner">Practitioner</li>
        <li class="specialist">Specialist</li>
      </ul>

      <details>
        <summary>Detailed guidance for each level of Commercial capability</summary>
        <div class="panel-indent capability-level-explanations">
          <table>
            <thead>
              <tr>
                <th>Awareness</th>
                <th>Working</th>
                <th>Practitioner</th>
                <th>Specialist</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>At awareness level, staff demonstrate that they work to ensure they achieve value for money in the course of delivering their work and get the best deal for the money spent as an important part of achieving their targets.</td>
                <td>At this level, staff demonstrate the use of commercial skills to deliver best value for the taxpayer as a part of their role. They make strategic decisions with commercial outcomes and may be responsible for managing and interacting with third parties.</td>
                <td>Practitioner level staff work in a professional procurement role, or role with commercial responsibilities (such as project management, audit, finance, corporate finance or law), applying commercial expertise and experience, and demonstrating an understanding of financial impact.</td>
                <td>Specialist level staff are recognised experts in their field, and apply in-depth knowledge and extensive experience of a market sector and/or commercial practice (e.g. dispute resolution, commercial negotiation).</td>
              </tr>
              <tr><td colspan=4><em>Skills demonstrated include:</em></td></tr>
              <tr>
                <td>Awareness that all decisions should achieve value for money for the taxpayer, how to achieve best value, and an understanding of how to engage with suppliers and manage relationships with stakeholders.</td>
                <td>Achieving value in the sourcing of services, assessing the commercial viability of policies and projects, using subject matter knowledge to manage contracts with third-party suppliers effectively, commercial financing, or risk appraisal.</td>
                <td>Engaging and negotiating with suppliers, and leading and strengthening sourcing and contract management processes and practices.</td>
                <td>Engaging tactically and strategically with suppliers and stakeholders with confidence and credibility to maximise value for money for the taxpayer.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </details>

    </div>

    <!-- DIGITAL -->
    <div class="form-group form-range-group">
      <label for="digital" class="form-label">Digital</label>
      <p class="text">We live in a digital world and need to understand how to tap into that world, from using social media to delivering straightforward and convenient information and services for citizens online.</p>
      {{ form.digital(class_='form-control') }}

      <ul class="capability-labels">
        <li class="na selected">N/A</li>
        <li class="awareness">Awareness</li>
        <li class="working">Working</li>
        <li class="practitioner">Practitioner</li>
        <li class="specialist">Specialist</li>
      </ul>

      <details>
        <summary>More information about the different Digital capability levels.</summary>
        <div class="panel-indent capability-level-explanations">
          <table>
          <thead>
            <tr>
              <th>Awareness</th>
              <th>Working</th>
              <th>Practitioner</th>
              <th>Specialist</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Staff will have the digital skills and awareness they need to do their jobs effectively, as well as an understanding of the benefits of digital services in government (and the need to provide support to anyone who needs help accessing these). Staff will understand why people use digital services in their personal life, and how online services can be more efficient, faster, more timely (24/7) and simpler.</td>
              <td>Staff will have ‘beyond basic’ digital skills, with the ability to use a range of software and digital tools that are specifically relevant to the individual’s role.</td>
              <td>Staff will be able to make, and take a leading role in ensuring that others make, the most of digital opportunities in relation service delivery and understand what professions need to do to adapt and improve government services. They will also stay abreast of digital developments to help identify challenges and opportunities.</td>
              <td>Staff possess a range of specific specialist skills directly related to the individual’s role such as information and service design (e.g. coding), publishing (e.g. content design), communications and analysis.</td>
            </tr>
            <tr><td colspan=4><em>Skills demonstrated include:</em></td></tr>
            <tr>
              <td>The ability to use a computer or other digital device to send and receive email, keep safe online, use search engines and browse the Internet and intranet, as well as to upload, download and access attachments and fill in an online form.</td>
              <td>Staff will be confident users of digital and can use tools with direct application to their role such as a range of software applications, social media, mobile technology and a range of digital tools/open source products.</td>
              <td>Staff can support others in attaining working level skills, and understand the benefits of digital by challenging current approaches to providing information and services. Can also lead and support the development of digital plans and strategies.</td>
              <td>Staff can design new, and redesign existing. digital services and make expert use of advanced digital tools relating to comms and policy. Furthermore, staff will lead and / or be a part of multi-disciplinary Agile teams. Staff will also produce and deliver digital products and assets to support information and service design (e.g. product managers, developers, technical architects, designers etc.)</td>
            </tr>
          </tbody>
        </table>
      </div>
    </details>

    </div>

    <!-- PROJECT DELIVERY -->
    <div class="form-group form-range-group">
      <label for="projectdel" class="form-label">Project delivery</label>
      <p class="text">Everyone needs to be skilled in project management to ensure work is delivered on time, to budget and is properly managed.</p>
      {{ form.delivery(class_="form-control") }}

      <ul class="capability-labels">
        <li class="na selected">N/A</li>
        <li class="awareness">Awareness</li>
        <li class="working">Working</li>
        <li class="practitioner">Practitioner</li>
        <li class="specialist">Specialist</li>
      </ul>

        <details>
          <summary>Understand the levels within the Project delivery capability</summary>
          <div class="panel-indent capability-level-explanations">
            <table>
            <thead>
              <tr>
                <th>Awareness</th>
                <th>Working</th>
                <th>Practitioner</th>
                <th>Specialist</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Staff can demonstrate understanding of basic project concepts and their implications. The focus is about building experience and gaining an awareness of project type, terminology, products and processes.</td>
                <td>Project team members work in a project or programme and may deliver or provide support for multiple projects throughout the lifecycle of the programme.</td>
                <td>Staff that are experienced and effective in programme and project delivery. Staff capable of providing guidance and advice to others as well as delivering projects and programmes based on experience and qualifications gained.</td>
                <td>Staff at this level will have strong broad strategic experience and demonstrate behaviours that enable effective delivery, drive efficiencies and improve public services in a complex and potentially highly pressurised project delivery environment.</td>
              </tr>
              <tr><td colspan=4><em>Skills demonstrated include:</em></td></tr>
              <tr>
                <td>Awareness of basic project management concepts, language and principles. Familiarity with basic project management tools and roles.</td>
                <td>Solid skills in using PM techniques such as project planning, use of tools and methodologies, risk management, problem solving, governance and approvals, commercial and stakeholder management.</td>
                <td>Professional expertise in working as a project/programme deliverer across a variety of projects or programmes, delivering agreed outcomes to time and budget through effective project disciplines/controls and good financial, risk and team management.</td>
                <td>The ability to lead large and complex projects and programmes to deliver agreed outcomes, on time and to budget. The professional credibility to role model best practices and drive up professional standards, displaying integrity to the agreed delivery vision for the project. Staff will have the ability to manage the internal and external environment including stakeholders at all levels.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </details>

    </div>

    <!-- Change leadership -->
    <div class="form-group form-range-group">
      <label for="leadmanaging" class="form-label">Change leadership</label>
      <p class="text">Leaders at all levels are role models, leading change and communicating with staff. Change will always be part of the day job.</p>
      {{ form.leadership(class_='form-control') }}

      <ul class="capability-labels">
        <li class="na selected">N/A</li>
        <li class="awareness">Awareness</li>
        <li class="working">Working</li>
        <li class="practitioner">Practitioner</li>
        <li class="specialist">Specialist</li>
      </ul>

      <details>
        <summary>Discover more about the levels within the Leadership capability</summary>
        <div class="panel-indent capability-level-explanations">
          <table>
            <thead>
              <tr>
                <th>Awareness</th>
                <th>Working</th>
                <th>Practitioner</th>
                <th>Specialist</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Awareness demonstrates the ability to support those who manage change. This would be in the form of helping colleagues, customers and corporate partners to understand changes and why they’ve been introduced.</td>
                <td>Working level demonstrates skills in implementing difficult or complex changes through encouraging and supporting others to do the same. This will be found at a local team level.</td>
                <td>Practitioner demonstrates the ability to lead and manage a business area in all areas of change.</td>
                <td>Expert demonstrates the ability to set corporate direction, shape a culture of success, identify needs and issues, develop solutions, lead across boundaries and deliver better value to customers. At this level you would expect to see the experience and drive to deliver the changes set out in the Reform Plan.</td>
              </tr>
              <tr><td colspan=4><em>Skills demonstrated include:</em></td></tr>
              <tr>
                <td>Supporting human reactions to change, the importance of flexibility, increasing the pace of change, continuous improvement and how to support those who are managing change.  Awareness level exhibits skills in understanding change and how to make it happen well.</td>
                <td>Delivering continuous improvement, managing team motivation, managing performance and development.</td>
                <td>Managing change with the use of tools and techniques; skilled in communications, engagement, problem solving, innovation and risk, resilience and stress management.</td>
                <td>Deliver a compelling narrative to inspire and engage people in a convincing way and create meaning for people based on understanding of the context of change. Being responsive, innovative and seeking out opportunities to create effective change.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </details>

    </div>

    <div>
      <button class="button">Submit</button>
    </div>

  </form>

{% endblock %}

{% block body_end %}
  <script>
  (function($, window){

    function whichLevel(value) {
      var level = "na";
      if( value > 75 ) {
        level = "specialist";
      } else if ( value > 50 ) {
        level = "practitioner";
      } else if ( value > 25 ) {
        level = "working";
      } else if ( value > 8 ) {
        level = "awareness";
      }
      return level;
    }

    $(function() {
      $("input[type=range]").on("change", function() {
        var $formGroup = $(this).parents(".form-group");
        $formGroup.find("output").text($(this).val());

        $formGroup
          .find(".capability-labels li")
          .removeClass("selected")
            .filter("." + whichLevel($(this).val()))
            .addClass("selected");

      });
    });
  }).call(this, jQuery, window);
  </script>
{% endblock %}
