{% extends "notesapp/onboarding/onboarding-base.html" %}

{% from "notesapp/_macros.html" import render_pagination %}

{% block msg_box_content %}
  <div class="grid-row">
    <div class="column-one-third">Here be an image</div>
    <div class="column-two-thirds">
      <p>You can also create notes without even coming to the service.</p>
      <p>Emails sent from your registered address will appear automatically, ready for you to organise when you have time.</p>
      <div class="copy-paste-panel">
        <p>Copy and paste the email into your email client</p>
        <input type="text" value="mynotes@notes.civilservice.digital" />
      </div>
      <p class="msg-box-subsection">
        Or we can send an email to your registered address for you to add to your contacts.
        
      </p>
      <button class="button msg-box-btn">Send me an email</button>
    </div>
  </div>
  {{ render_pagination( url_for('notesapp.onboarding4'), url_for('notesapp.onboarding2') ) }}
{% endblock %}