{% extends "notesapp/onboarding/onboarding-base.html" %}

{% from "notesapp/_macros.html" import render_pagination %}

{% block msg_box_content %}
  <div class="grid-row">
    <div class="column-one-third">Here be an image</div>
    <div class="column-two-thirds">
      <p>Use the email below to send notes directly into the service.</p>
      <p>We will only accept emails sent from your address(es).</p>

    </div>
  </div>

  {{ render_pagination( url_for('notesapp.onboarding5'), url_for('notesapp.onboarding3') ) }}
{% endblock %}