{% extends "notesapp/onboarding/onboarding-base.html" %}

{% from "notesapp/_macros.html" import render_tag_input, render_new_tag_input, render_pagination %}

{% block msg_box_content %}
  <div class="grid-row">
    <div class="column-one-third">This is an image</div>
    <div class="column-two-thirds">
      <p>Create some tags for your objectives now.</p>

      <form action="" class="form">
        {{ render_new_tag_input() }}
        {{ render_new_tag_input() }}
        {{ render_new_tag_input() }}
        <button class="button msg-box-btn">Add another objective tag</button>
      </form>

    </div>
  </div>
  {{ render_pagination( url_for('notesapp.onboarding3'), url_for('notesapp.onboarding1') ) }}
{% endblock %}