{% extends "notesapp/onboarding/onboarding-base.html" %}

{% from "notesapp/_macros.html" import render_pagination %}

{% block msg_box_content %}
  <div class="grid-row">
    <div class="column-one-third">Here be an image</div>
    <div class="column-two-thirds">
      <p>This service lets you make notes quickly and organise them with labels. This helps you see how you are doing against each objective, competency etc and have a balanced view of how you’re doing.</p>
      <p>We’ve already created labels for the standard competencies, like this:</p>
      <ul><li class="note-tag">Delivering at Pace</li></ul>
    </div>
  </div>

  {{ render_pagination( url_for('notesapp.onboarding2') ) }}

{% endblock %}

