{% extends "notesapp/onboarding/onboarding-base.html" %}

{% from "notesapp/_macros.html" import render_pagination %}

{% block msg_box_content %}
  <div class="grid-row">
    <div class="column-one-third">This is an image</div>
    <div class="column-two-thirds">
      <p>Collect and organise your performance notes.</p>
      <p>It is the place to keep all your performance related notes, ready for you to organise and then prepare for your reviews.</p>
    </div>
  </div>

  {{ render_pagination( url_for('notesapp.onboarding2') ) }}

{% endblock %}

