{% extends "competency/base.html" %}

{% block content %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">Competency framework</h1>
    </div>
  </div>

  <h2 class="heading-medium">Competencies with links to your objectives</h2>
  <ul>
  {% for competency in current_user.competencies %}
    <li>
      <details class="accordion">
        <summary class="accordion-head">
          <div class="grid-row">
            <div class="column-half accordion-title">{{ competency.name }}</div>
            <div class="column-quarter accordion-meta">
              {{ competency.objectives(current_user)|length }} objective{{ competency.objectives(current_user)|length|pluralise }}
            </div>
            <div class="column-quarter">
              <span class="more-group">
                <button class="btn-more">Show information <img alt="" src="/static/images/circle-plus@2x.png" width="16px"></button>
                <button class="btn-less">Hide information <img alt="" src="/static/images/circle-minus@2x.png" width="16px"></button>
              </span>
            </div>
          </div>
        </summary>
        <div class="accordion-content">

          <div class="grid-row accordion-content__subsection">
            <div class="column-third accordion-content__subsection__heading">
              <h3 class="heading-small">Objectives</h3>
              <span class="small-text">with links to this competency</span>
            </div>
            <div class="column-two-thirds">
              <ul>
                {% for obj in competency.objectives(current_user) %}
                  <li><a href="{{ url_for('objectives.view', id=obj.id) }}">{{obj.entry.title}}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>

          <div class="grid-row accordion-content__subsection">
            <div class="column-third accordion-content__subsection__heading">
              <h3 class="heading-small">Description</h3>
              <a class="small-link" href="{{ url_for('competency.view', id=competency.id) }}">See behaviours</a>
            </div>
            <div class="column-two-thirds">{{ competency.overview }}</div>
          </div>

        </div>
      </details>
    </li>
  {% endfor %}
  </ul>

  <h2 class="heading-medium">Other competencies</h2>
  <ul>
    {% for competency in comps_not_linked %}
      <li>
        <details class="accordion">
          <summary class="accordion-head">
            <span class="accordion-title">{{ competency.name }}</span>
            <span class="more-group">
              <button class="btn-more">Show information <img alt="" src="/static/images/circle-plus@2x.png" width="16px"></button>
              <button class="btn-less">Hide information <img alt="" src="/static/images/circle-minus@2x.png" width="16px"></button>
            </span>
          </summary>
          <div class="accordion-content">
            <div class="grid-row accordion-content__subsection">
              <div class="column-third accordion-content__subsection__heading">
                <h3 class="heading-small">Description</h3>
                <a class="small-link" href="{{ url_for('competency.view', id=competency.id) }}">See behaviours</a>
              </div>
              <div class="column-two-thirds">{{ competency.overview }}</div>
            </div>
          </div>
        </details>
      </li>
    {% endfor %}
  </ul>

{% endblock %}
